[2021-06-10 09:04] dixudx opened #1 "visiting child cluster directly without knowning child cluster url"
#### What would you like to be added:

Add a short-path URL handler for direct child cluster visiting

#### Why is this needed:

When visiting child cluster, the server url is needed, such as `/apis/proxies.clusternet.io/v1alpha1/sockets/abc-def-ghi/http/<SERVER-URL>`.

Actually a short-path url visiting, such as `/apis/proxies.clusternet.io/v1alpha1/sockets/<CLUSTER-ID>/direct` should be supporte

[2021-06-16 06:33] dixudx opened #2 "bump default namespace to clusternet-system"
#### What would you like to be added:

Bump default namespace to `clusternet-system`

[2021-06-16 07:29] #1 closed, assigned to dixudx

[2021-06-16 07:35] dixudx opened #5 "visiting child clusters with RBAC"
#### What would you like to be added:

Allowing visiting child clusters with RBAC rules.

#### Why is this needed:
Currently only `http` scheme is supported when visiting child clusters.

[2021-06-16 07:42] #2 closed, assigned to dixudx

[2021-06-26 13:46] TomatoAres opened #9 "clusternet-agent need edge-system"
#### What happened:

When I deploy clusternet-agent, the container logs error:

[code]

#### What you expected to happen:

No error log, no need namespace edge-system

#### How to reproduce it (as minimally and precisely as possible):

With docker image: `ghcr.io/clusternet/clusternet-agent :v0.1.0`, you will reproduce it.

Because I haven't find any code about edge-system, and I find there was a

[2021-06-27 07:06] TomatoAres opened #10 "[compatility] clusternet-agent run error in k8s 1.20"
#### What happened:

Error log:

[code]

#### What you expected to happen:

Run correctly in k8s 1.20 and newer

#### How to reproduce it (as minimally and precisely as possible):

Deploy the clusternet-agent in k8s 1.20

#### Anything else we need to know?:

The lease resources version is changed in 1.20

[code]
#### Environment:
- Clusternet version: v0.1.0

[2021-06-27 07:56] TomatoAres commented on #10
I found RBAC policy is all allowed, so it is not the key.

[2021-06-27 07:56] #10 closed

[2021-06-28 03:08] dixudx commented on #9
@TomatoAres Please follow v0.1.0 doc.

#4 will be released into v0.2.0 recently.

[2021-06-28 03:08] #9 closed

[2021-07-09 15:51] #5 closed

[2021-07-27 04:49] SLZ0106 opened #37 "Bug report in "PARENTURL""
#### What happened:
when we execute the step "PARENTURL=https://192.168.10.10 REGTOKEN=07401b.f395accd246ae52d envsubst < ./deploy/templates/clusternet_agent_secret.yaml | kubectl apply -f -", the cmd report that "'PARENTURL' is not recognized as an internal or external command" in the file folder "clusternet-main". And when we execute this command in the subfolder "deploy/agent", the cmd report t

[2021-07-27 06:05] Bryceknows commented on #37
I tried `PARENTURL=https://rancher-ieo-prd-dur.darkside.cec.lab.emc.com/k8s/clusters/c-n9f2q REGTOKEN=07401b.f395accd246ae52d envsubst < ./deploy/templates/clusternet_agent_secret.yaml | kubectl apply -f -` , and bash reported "secret/clusternet-agent-cluster-registration configured" (I think this should be right). However, when I used `kubectl get clsrr` to check cluster registrations, the bash r

[2021-07-27 06:25] dixudx commented on #37
@SLZ0106 Actually this is a common error of `envsubst`. Please make sure [envsubst is installed successfully](https://command-not-found.com/envsubst). You can reinstall it if needed.

Also please help check your `SHELL` by `env | grep SHELL`.

Try `PARENTURL=https://192.168.10.10 REGTOKEN=07401b.f395accd246ae52d envsubst < ./deploy/templates/clusternet_agent_secret.yaml` to see the output.

[2021-07-27 06:32] Bryceknows commented on #37
Should I modify the URL or just use `https://192.168.10.10`?

[2021-07-27 06:35] dixudx commented on #37
@Bryceknows You just need to change these settings to yours.

[2021-07-27 06:46] dixudx commented on #37
cc @joshuakwan

[2021-07-27 06:57] joshuakwan commented on #37
As we discussed, please try with 2 minikube clusters locally first before going to the staging env.

[2021-07-27 07:01] Bryceknows commented on #37
Thanks. I will try.

[2021-07-28 06:47] DanielXLee opened #38 "Append a new matchLabels in subscription, the original matchLabel will lost"
#### What happened:
Append a new matchLabels ` "clusters.clusternet.io/cluster-id": "c817745f-f46b-4a2b-95fd-86521c81cc79"` in the subscription, the original matchLabels `"clusters.clusternet.io/cluster-id": "46919132-9639-4c72-a187-975d8cfe0f6c"`  will lost
[code]
#### What you expected to happen:
[code]
#### How to reproduce it (as minimally and precisely as possible):
There are 2 managed cluste

[2021-07-28 08:33] dixudx commented on #38
@DanielXLee `matchLabels` is a `map[string]string` where you cannot set multiple items with the same key.

If you want to add multiple cluster IDs, you can try `matchExpressions`, such as

[code]

[2021-07-28 09:18] DanielXLee commented on #38
Thanks @dixudx

[2021-07-28 09:18] #38 closed

[2021-07-29 08:20] dixudx opened #42 "auto update shadow apis scheme"
#### What would you like to be added:

#### Why is this needed:
When CRDs/APIServices are created or updated, shadow apis/scheme should be updated accordingly.

[2021-08-02 03:18] dixudx opened #44 "command line support"
#### What would you like to be added:

#### Why is this needed:

[2021-08-05 10:00] DanielXLee opened #47 "Add more status informations for ManagedCluster.Status"
#### What would you like to be added:
Example:

[code]
#### Why is this needed:

[2021-08-06 07:11] dixudx commented on #44
refer to https://github.com/clusternet/kubectl-clusternet

This will be released as a kubectl plugin.

[2021-08-07 07:03] dixudx opened #51 "synchronize and apply resources on agent side"
#### What would you like to be added:

#### Why is this needed:

[2021-08-07 12:34] #44 closed

[2021-08-09 02:44] laik opened #55 "What is the difference with kubefed, why not use kubefed?"
as title

[2021-08-09 07:02] huxiaoliang opened #56 "managed cluster still show alive forever even if agent get removed from target cluster"
[code]

@dixudx  I know the cluster heartbeat triggered by agent which cause cluster status show alive forever even if agent get removed from target cluster.  This issue cause CLI user and third party integrator confuse,  could you please do this enhancement in clustenet, thanks in advance.

[2021-08-10 02:51] dixudx commented on #55
@laik First of all, Clusternet don't need to create such a `FederatedAbc` CRD. Kubefed users need to declare `FederatedAbc` CRDs one by one with `kubefedctl`. Moreover, currently ***kubefed community is in slow development***. Clusternet supports users use native way to distribute resources to multiple clusters without noticing fed resources. **With Clusternet, distributing resources to multiple c

[2021-08-15 04:05] DanielXLee opened #66 "Update subscription feeds when remove an application template"
#### What would you like to be added:
When the application template is deleted, the application feeds should be removed from the subscription.

Example:
// Delete mysql chart
kubectl delete charts mysql -n default
// mysql feed should be delete
[code]
#### Why is this needed:

[2021-08-16 06:56] #37 closed

[2021-08-16 09:48] ruyingzhe commented on #47
wish report node numbers and status，like 5 node (1 failed)

[2021-08-18 02:47] DanielXLee opened #71 "`kubectl clusternet` cannot fetch resource from all namespace"
#### What happened:
[code]
#### What you expected to happen:
[code]

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
[code]
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):
    - Clusternet-hub version (user `clusternet-hub --version=json`):
- Kubernetes version (use `kubectl v

[2021-08-18 02:49] dixudx commented on #71
Please try `kubectl-clusternet` 0.3.0

[2021-08-18 02:52] dixudx commented on #71
@DanielXLee This is not a bug.

For `deploy` or `Deployment`, if we run `kubectl clusternet get deploy`, it means we're listing deployments that served by `clusternet-hub`.

[2021-08-18 03:10] DanielXLee commented on #71
👌，will try 0.3.0

[2021-08-18 09:11] #71 closed

[2021-08-23 12:47] #66 closed

[2021-08-24 11:45] qmhu commented on #56
/assign @qmhu

[2021-08-24 15:33] fengye87 opened #80 "How to tell different child clusters in parent cluster?"
Whenever a child cluster joins the parent cluster, it would get a generated clusterID. If there're multiple child clusters, how can I tell which clsrr/mcls belongs to which child cluster? Is there anyway I can specify this clusterID in clusternet-agent manifest?

[2021-08-25 04:27] fengye87 commented on #80
So the short answer is, I should specify `cluster-reg-name` in the clusternet-agent manifest and match that name with clsrr.Spec.ClusterName to find out the corresponding clusterID?

[2021-08-25 06:21] dixudx commented on #80
@fengye87 A short answer is,

[code]

If you get your clusterID, you can also query like this,

[code]

[2021-08-25 06:26] fengye87 commented on #80
@dixudx Got it, thanks! I'm closing this issue.

[2021-08-25 06:26] #80 closed

[2021-08-25 14:04] #55 closed

[2021-08-27 10:16] pigletfly opened #84 "Move apis and wrappers into a separate repo"
#### What would you like to be added:
As title said, third-party operators may import clusternet apis and use client-go to interact with clusternet.

#### Why is this needed:

[2021-08-27 22:48] clarkmcc opened #85 "Clarification on scaling limitations and performance considerations"
The project README currently states

https://github.com/clusternet/clusternet/blob/2e6e481b21e7e69ebc2371a3f05aa1f754c98b41/README.md#L16-L17

"thousands of millions" would be "billions" of clusters. Can this project really scale that high? Do you have any performance benchmarks to substantiate the claim? And do you have any metrics on what kind of resources this would cost?

The reason I ask is w

[2021-08-28 02:17] dixudx commented on #84
And yes, we are going to do this. But for now, it is still a little bit earlier.

Keep this for tracking. Thanks.

[2021-08-30 01:04] bingws opened #87 "有没有UI？"
#### What would you like to be added:
有UI吗？类似rancher那种。
#### Why is this needed:
更加方便。

[2021-08-30 09:00] wqq578 opened #89 "ClusterRegistrationType Flag specifies the cluster type. Currently only support EdgeClusterSelfProvisioned. Parameters verified, expected to be fixed"

[2021-08-30 09:06] huxiaoliang commented on #89
@dixudx  we need this fix packed in 0.4.0, thanks in advance

[2021-08-30 09:33] Sad-polar-bear opened #91 "clusternet-hub pod stays in ContainerCreating"
status:
  conditions:
  - lastProbeTime: null
    lastTransitionTime: "2021-08-30T09:20:12Z"
    message: Marking condition "cloud.tencent.com/load-balancer-backendgroup-ready"
      to True.
    reason: LoadBalancerNetworkGroupReady
    status: "True"
    type: cloud.tencent.com/load-balancer-backendgroup-ready
  - lastProbeTime: null
    lastTransitionTime: "2021-08-30T09:20:12Z"
    status: "Tr

[2021-08-30 09:39] dixudx commented on #91
@Sad-polar-bear Actually this is an issue for your clusters.

Please check the event of this pod and the kubelet log running on `10.228.49.71`.

[2021-08-30 09:47] dixudx commented on #87
@bingws This is in our long-term plan.

[2021-08-30 11:04] #89 closed

[2021-08-31 08:47] Sad-polar-bear commented on #91
I have solved the problem,thanks

[2021-08-31 08:47] #91 closed

[2021-08-31 08:48] dixudx commented on #85
The design goal of Clusternet is to support as many Kubernetes clusters as practically required. This in fact is a major differentiator of Clusternet, compared to many other multi-cluster Kubernetes solutions.

Currently we're still doing performance optimizations and enhancements. Related benchmarks will be given in v0.5.0.

Yes, you are very right that 'hundreds of millions' is an exaggerated ex

[2021-09-01 06:51] hustcat opened #99 "clusternet-agent sa need clusterrole permission"
#### What happened:

`clusternet-agent` error log:

[code]

The [clusternet-agent sa](https://github.com/clusternet/clusternet/blob/main/deploy/agent/clusternet_agent_rbac.yaml#L23) need  clusterrole permission.

[2021-09-01 06:56] dixudx commented on #99
This is still a new feature to be released into v0.4.0. Thanks for trying newest feature.

Will be fixed in #98.

[2021-09-02 08:32] #51 closed

[2021-09-02 12:16] #99 closed

[2021-09-06 13:09] huxiaoliang commented on #56
after I stop 3 agent,  20 minutes later,  I still can't get correct status of managed cluster,  I hope healthz and livez both set to `false`

issue 1:
[code]

issue 2:
[code]

[2021-09-07 15:31] miaowukong opened #113 "ghcr.io/clusternet/clusternet-hub:v0.4.0 manifest unknown;image can not be found"
#### What happened:

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):
    - Clusternet-hub version (user `clusternet-hub --version=json`):
- Kubernetes version (use `kubectl version`):
- Cloud pr

[2021-09-08 03:27] dixudx opened #115 "updating Localizations/Globalizations DO NOT apply new changes to objects in child clusters"
#### What would you like to be added:
Add a new OverrideType `ApplyNow`.

#### Why is this needed:
When Localizations/Globalizations are updated, these changes should be applied immediately to objects in child clusters.

[2021-09-08 07:46] dixudx commented on #113
Clusternet v0.4.0 is officially released.

[2021-09-08 07:46] #113 closed

[2021-09-08 10:49] silenceper opened #118 "roadmap adbout clusternet?"
#### What would you like to be added:

#### Why is this needed:
Want to know the roadmap of this project, for example, including cross-cluster service discovery.

[2021-09-09 02:50] bcaayat opened #120 "failed to create ClusterRegistrationRequest: serializer for text/html; charset=utf-8 doesn't exist"
failed to create ClusterRegistrationRequest: serializer for text/html; charset=utf-8 doesn't exist

#### What happened:
child register failed.
#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:
agentlog:
I0909 02:47:53.941839       1 agent.go:215] try to bootstrap cluster registration if needed
I0909 02:47:53.

[2021-09-09 03:09] Sad-polar-bear opened #121 "divided resource to child cluster failed"
[code]

[2021-09-09 03:53] dixudx commented on #121
@Sad-polar-bear Please specify the Kubernetes version, Clusternet version, and `clusternet-agent` parameters.

It will be better to have hub logs for further investigating.

[2021-09-09 03:54] dixudx commented on #118
Will be added shortly. Thanks for watching.

[2021-09-09 04:09] Sad-polar-bear commented on #121
I0909 02:56:28.142658       1 description.go:299] start processing Description "clusternet-6phvq/app-demo-generic"
I0909 02:56:28.142661       1 description.go:299] start processing Description "clusternet-6phvq/app-demo-generic"
I0909 02:56:28.142674       1 description.go:272] successfully synced Description "clusternet-6phvq/app-demo-generic"
I0909 02:56:28.142676       1 base.go:273] successfu

[2021-09-09 04:11] Sad-polar-bear commented on #121
clusternet-hub configuration:

[2021-09-09 04:12] Sad-polar-bear commented on #121
clusternet-hub configuration:
- /usr/local/bin/clusternet-hub
            - --secure-port=443
            - --feature-gates=SocketConnection=true,Deployer=true,ShadowAPI=true,FeedInUseProtection=true
            - -v=4

clusternet-agent configuration:
- /usr/local/bin/clusternet-agent
            - --cluster-reg-token=$(REG_TOKEN)
            - --cluster-reg-parent-url=$(PARENT_URL)
            -

[2021-09-09 07:15] silenceper opened #122 "apiserver was unable to write a fallback JSON response: http: Handler timeout"
#### What happened:
clusternet-hub print error msg , but It seems that application distribution is normal.
[code]

#### What you expected to happen:
normal

#### How to reproduce it (as minimally and precisely as possible):
Install clusternet components via readme
#### Anything else we need to know?:
I am using minikube, the host cluster and sub-cluster are the same.
#### Environment:
- Clusternet

[2021-09-09 07:32] dixudx commented on #121
This is usually caused by api listing, i.e., `https://10.96.0.1:443/api?timeout=32s`.

@Sad-polar-bear Since `clusternet-agent` is running in-cluster, now please do below check,

[code]

You may get a different value for `KUBERNETES_SERVICE_HOST`. Now please check whether this address, such as `https://10.96.0.1:443`, is accessible in this agent container.

[code]

It is desired to get above 403 s

[2021-09-09 07:34] dixudx commented on #122
No need to get into a panic on these error messages. The application distribution is running as expected.

[2021-09-09 07:49] silenceper commented on #122
ok

[2021-09-10 03:01] Sad-polar-bear commented on #121
![image](https://user-images.githubusercontent.com/28644213/132792567-ad9b4d22-0da3-4bca-8f58-83e7e1fdeb57.png)

[2021-09-10 03:09] dixudx commented on #121
@Sad-polar-bear Would please have a check on `ManagedCluster`.

[code]

[2021-09-10 03:11] Sad-polar-bear commented on #121
➜  ~ kubectl get mcls -n clusternet-6phvq liuer-vc -oyaml
apiVersion: clusters.clusternet.io/v1beta1
kind: ManagedCluster
metadata:
  creationTimestamp: "2021-09-09T02:45:03Z"
  generation: 1
  labels:
    clusternet.io/created-by: clusternet-agent
    clusters.clusternet.io/cluster-id: 00216258-eaaa-4f1c-a810-8e5c58f9ca9e
    clusters.clusternet.io/cluster-name: liuer-vc
  managedFields:
  - apiV

[2021-09-10 03:12] Sad-polar-bear commented on #121
➜  ~ kubectl get mcls -n clusternet-6phvq liuer-vc -oyaml
apiVersion: clusters.clusternet.io/v1beta1
kind: ManagedCluster
metadata:
  creationTimestamp: "2021-09-09T02:45:03Z"
  generation: 1
  labels:
    clusternet.io/created-by: clusternet-agent
    clusters.clusternet.io/cluster-id: 00216258-eaaa-4f1c-a810-8e5c58f9ca9e
    clusters.clusternet.io/cluster-name: liuer-vc
  managedFields:
  - apiV

[2021-09-10 03:15] dixudx commented on #121
And have you deployed all the needed roles and rolebings in child clusters.

[code]

[2021-09-10 03:23] Sad-polar-bear commented on #121
![image](https://user-images.githubusercontent.com/28644213/132794233-3de60f80-4ab1-4ab9-a26e-d77930c1ddc5.png)

oh, and how can I deploy the clusterrolebing?

[2021-09-10 03:25] dixudx commented on #121
And check the credentials in your hub cluster.

[code]

Whether this secret is created and check the data `service-account.name` and `service-account.uid` in this secret. Both values are base64 encoded, you can decode it and check this ServiceAccount in your child cluster.

[2021-09-10 03:32] dixudx commented on #121
Just follow this guide https://github.com/clusternet/clusternet#deploying-clusternet-agent-in-child-cluster

[2021-09-10 03:35] Sad-polar-bear commented on #121
decode result:

[2021-09-10 03:36] Sad-polar-bear commented on #121
decode result:
service-account.name: clusternet-app-deployer
service-account.uid: bfad57cc-f889-4bd2-9db6-6b51c354415e

[2021-09-10 03:44] Sad-polar-bear commented on #121
k8s version: v1.18.4-tke.12
clusternet: 0.4.0

[2021-09-10 06:06] lichenglife commented on #118
Now it seems that clusternet just distributes resources to different clusters.In the future, can I view the resource status in the management cluster instead of going to childCluster?

[2021-09-10 06:15] dixudx commented on #118
Yes, this is planned and possibly released into v0.5.0 (next release).

[2021-09-10 06:54] dixudx commented on #121
After debugging, we found `v1.18.4-tke.12` had set extra restrictions on authentication and authorization, which did not allow anonymous accessing. @Sad-polar-bear Please try to use other Kubernetes distros, such as official release Kubernetes.

@huxiaoliang @DanielXLee Please keep an eye on this.

[2021-09-10 07:18] huxiaoliang commented on #121
@Sad-polar-bear  please remove `--basic-auth-file` from api-server and try it again

[2021-09-10 10:23] chenkaiyue commented on #120
I have tested with the same k8s verison, and it works well
<img width="1012" alt="wecom-temp-3e114dcff1d46473e3b2272b3e69bcf9" src="https://user-images.githubusercontent.com/15925403/132839210-3c47e4ff-9a43-4fbd-a43d-26f03a7b7e67.png">

I found that your parenturl is an Intranet IP. Please make sure  that the parenturl should be accessible to the managed cluster.

[2021-09-10 10:26] #120 closed

[2021-09-13 07:02] dixudx commented on #122
@silenceper Cannot reproduce this.

Please make sure your `clusternet-hub` deployed successfully.

From the error message,

I guess that your `kube-apiserver` cannot visit `clusternet-hub` service.

[2021-09-16 04:13] panpan0000 opened #124 "Proxy Mode API for child cluster: how to specific the user credentials"
#### What happened:
When following the guide: https://github.com/clusternet/clusternet#visit-managedcluster-with-rbac

It will be a problem about how to pass the user cred to managed cluster.
I suffer from "forbidden: User \"system:anonymous\" cannot get path \"/api\"" error .
api-server does not set `-anonymous-auth=false` explicitly.

#### What you expected to happen:

Using curl + token to add

[2021-09-16 05:25] panpan0000 commented on #124
Chinese text explains the same with above message , just to make myself more clear
补充一下中文:
通过主集群的API Aggregation，去访问子集群。 鉴权问题如何解决？
这是一个单纯的kubeadm搭建的k8s，没有特别的设置。
当我们curl被AA代理的子集群API，需要同时满足（1）主集群的认证鉴权 （2）子集群的认证鉴权
（1）其实不需要做，因为 sockets.proxies.clusternet.io 已经在clusterrolebinding (clusternet:system:socketsproxy)里面给anonymous用户赋权了
（2）子集群的鉴权无法避免。但是不管是curl还是kubectl，无法将TOKEN或者证书传递下去。如果我curl -H "Authorizatio

[2021-09-16 06:26] dixudx commented on #124
@panpan0000 Thanks for using `Clusternet`.

The kubeconfig you are using is not correct. Please follow [visting ManagedCluster with RBAC](https://github.com/clusternet/clusternet#visit-managedcluster-with-rbac) to construct a valid kubeconfig to access child clusters.

`Clusternet` DOES support visiting all your managed clusters with RBAC.

And `Clusternet` does not care about those credentials (t

[2021-09-16 07:10] dixudx commented on #124
@panpan0000 I've created a PR to demonstrate `curl` usage. Please take a look.

[2021-09-16 07:50] panpan0000 commented on #124
[code]

But below still failed
[code]
Error Message:

[code]

[2021-09-16 08:27] panpan0000 commented on #124
Copied . I missed those part.
I found the theory behind it:
https://kubernetes.io/docs/reference/access-authn-authz/authentication/#user-impersonation

good job.

[2021-09-16 08:35] #124 closed

[2021-09-16 09:49] DanielXLee opened #126 "Cannot find ClusterCIDR in the TKE cluster"
#### What happened:
In different k8s clusters, `service-cluster-ip-range` is in different paths.
For some clusters, `service-cluster-ip-range` is located under the path `spec.containers[0].command`, for some clusters, `service-cluster-ip-range` is located under the path `spec.containers[0].args`

We need try to find the cluster cidr from `spec.containers[0].command` and `spec.containers[0].args`
h

[2021-09-16 10:35] Sad-polar-bear commented on #121
remove --basic-auth-file and working

[2021-09-16 10:35] #121 closed

[2021-09-17 05:25] panpan0000 opened #127 "Show the real apiserverURL in mcls CR"
#### What would you like to be added:
Hi, Greeting:

In use case, the client will do the following step to access Child Cluster:
(1) list all child clusters from hub cluster
(2) retrieve the cluster id and api-server endpoint, for one child
(3) using prepared cert or token , to access child cluster by AA API

But the key point is : how to get the real child cluster "api-server endpoint"?

The `api

[2021-09-17 06:36] dixudx commented on #127
@panpan0000 By default, `clusternet-agent` is using [InClusterConfig](InClusterConfig), where the apiserver url is a cluster ip.

Actually you can specify your real apiserver url when you deploying `clusternet-agent` by overriding environment,
`KUBERNETES_SERVICE_HOST` and `KUBERNETES_SERVICE_PORT`.

[code]

[2021-09-17 06:38] dixudx commented on #127
@panpan0000 If you're using clusternet proxy api to access a child cluster, the `apiserverURL` here ***can be a internal cluster IP***, instead of an external reachable IP.

[2021-09-17 07:50] panpan0000 commented on #127
@dixudx  got you.
So I think that's what you meant by the line "direct access Disconnected" in block diagram https://github.com/clusternet/clusternet/blob/main/docs/images/clusternet-arch.png

I guess that means : User will never direct access the child cluster by external IP (e.g: for security concern), but always using a cluster IP or something internal , to avoid explosion of child cluster , ri

[2021-09-17 08:01] #127 closed

[2021-09-17 08:55] dixudx commented on #127
Yes.

And also, not every cluster could get an external IP, such as clusters running at the edge, or running inside a VPC.

[2021-09-17 09:19] panpan0000 opened #128 "Bug: unable to "edit" workload in hub cluster"
#### What would you like to be added:

(1)
`kubectl clusternet edit deploy xxx`change a label of deploy or any other change for workload.

but the `desc` object will not be updated, and the real deploy  in child clusters not updated neither.

This is a normal case in Day2 ,  updating an existing workload from hub cluster .

(2)
I manually edit the workload on child cluster, e.g. : edit the deploym

[2021-09-17 09:28] dixudx commented on #128
For case 1, this feature is already implemented. It should be work. I will verify this later.

For case 2, currently Clusternet does not sync resource changes back to parent cluster. And this should be a new feature.

[2021-09-17 09:28] dixudx commented on #128
@panpan0000 We have a WeChat group. Please follow [this artice](https://mp.weixin.qq.com/s/4kBmo9v35pXz9ooixNrXdQ) to join with us. Welcome.

[2021-09-17 09:35] panpan0000 commented on #128
For case 2, currently Clusternet does not sync resource changes back to parent cluster. And this should be a new feature.

not sync back. but hub cluster can override the difference which child cluster made. just like KubeFed

[2021-09-17 09:59] panpan0000 commented on #128
ok. Thanks

[2021-09-17 10:09] panpan0000 commented on #128
I just checked the `desc` obj, it's updated while I `kubectl clusternet edit xxx`
But the agent didn't sync up .
the leader agent log as below:
[code]

[2021-09-17 10:11] panpan0000 commented on #128
The `desc` obj as below . the generation did bump whenever I changed by `kubectl clusternet edit xxx`
[code]

[2021-09-19 04:29] GeorgeGuo2018 commented on #128
for case2, it sounds like, if you adopt KubeFed, you can managle your clusters only via kubeFed.
I think the sutiation here might be a bit different, as the pic in [ this artice](https://mp.weixin.qq.com/s/4kBmo9v35pXz9ooixNrXdQ) shows: users can exists in child cluster, what is more, they can reach to other child cluster via parent cluster, so personally think it is reasonable to make changes in

[2021-09-23 06:31] #56 closed

[2021-09-23 11:18] DanielXLee opened #133 "matchExpressions label value validate failed for the specific value `cls-27rq50l2`"
#### What happened:

[code]

[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):
    - Clusternet-hub version (user `clusternet-hub --version=json`):
- Kubernetes version (use `kubectl versi

[2021-09-23 12:13] DanielXLee commented on #133
This is a weird issue. Keep the issue open and wait for the follow-up test results

[2021-09-23 12:35] DanielXLee commented on #133
false alarm， this issue cause by a bad test case
[code]

[2021-09-23 12:35] #133 closed

[2021-09-23 13:34] DanielXLee commented on #121
@Sad-polar-bear I also encountered this problem, I try to remove `--basic-auth-file` from the master CR, and delete the old api-server pod, seems not to work. Did you have any other steps?

[2021-09-24 03:55] dixudx opened #134 "improving user experience on installing Clusternet"
#### What would you like to be added:

#### Why is this needed:

[2021-09-24 04:01] mars1024 commented on #134
/assign

[2021-09-24 06:31] panpan0000 commented on #128
will split the question 2 to another issue.
This issue will be only tracked the "edit" bug

[2021-09-24 06:36] panpan0000 opened #135 "Ability to reconcile/rollback changes in child cluster"
This issue was a part of previous https://github.com/clusternet/clusternet/issues/128

===================
I'm proposing a way :the agent will watch the desc and reconcile that deployment to original state (aka, rollback any change in child cluster and restore to hub cluster config)
hub cluster can override the difference which child cluster made. just like KubeFed.
and moreover , when I accidenta

[2021-09-24 06:39] panpan0000 commented on #135
@dixudx  mentioned:

It's reasonable in Edge situation.
But there's not only day 1 but day 2 for  Application LCM .
Assuming below case:

(1) in Hub Cluster, admin distribute an app to all clusters
(2) in Child Cluster,  another one modify the app, example, changing its label or cpu limit
(3) In Hub Cluster, admin update the app (e.g. from v1.0 to v2.0)
(4) the change in step 2 will be lost.

Aka,

[2021-09-24 06:54] dixudx commented on #135
Good scenarios. 👍👍👍 @panpan0000

`clusternet-agent` needs to watch the resource changes and sync back the diffs.

[2021-09-24 10:07] dixudx commented on #121
Please remove `--basic-auth-file` from apiserver running in the parent cluster.

[2021-09-27 08:11] #128 closed

[2021-09-27 10:30] #122 closed

[2021-09-28 09:41] dixudx opened #137 "Kubernetes version skew support"
#### What happened:

Tracking Kubernetes version skew issues when using with `Clusternet`

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

[2021-09-28 09:46] DanielXLee commented on #137
Test in kind cluster version `v1.18.19`
[code]

[code]

[2021-09-28 09:48] DanielXLee commented on #137
This issue not found in k8s version `v1.21.1`

[2021-09-28 09:50] dixudx commented on #137
E0928 07:33:03.349992       1 reflector.go:138] pkg/mod/k8s.io/client-go@v0.21.2/tools/cache/reflector.go:167: Failed to watch *v1beta1.PriorityLevelConfiguration: failed to list *v1beta1.PriorityLevelConfiguration: the server could not find the requested resource (get prioritylevelconfigurations.flowcontrol.apiserver.k8s.io)

Currently Clusternet is built with v0.21.2, which registers `PriorityLe

[2021-09-28 11:12] DanielXLee opened #139 "Description cannot be deleted when the subscription feeds empty"
#### What happened:
Create a test sub, and check the description created.
[code]

Delete all feeds from sub
[code]

Check the description, found the description still existing.
[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (us

[2021-09-28 11:12] DanielXLee commented on #139
related error hub log
[code]

[2021-09-29 03:56] #42 closed

[2021-09-29 06:51] dixudx opened #140 "potential security vulnerabilities in dependencies"
#### What happened:
kind/security

Dependabot alerts multiple security vulnerabilities in some dependencies.

- github.com/containerd/containerd
  Upgrade github.com/containerd/containerd to version 1.4.8 or later

- github.com/opencontainers/runc
  Upgrade github.com/opencontainers/runc to version 1.0.0-rc95 or later

- github.com/dgrijalva/jwt-go

#### What you expected to happen:

#### How to r

[2021-09-29 07:41] #140 closed

[2021-10-09 08:51] #139 closed

[2021-10-12 03:05] #84 closed, assigned to nobody

[2021-10-22 07:18] dixudx opened #160 "supports `--anonymous-auth=false` for hub apiserver"
#### What would you like to be added:

#### Why is this needed:

[2021-10-22 09:27] leoryu opened #161 "clusternet proxy should not response 301 to ask client redirect"
#### What happened:

default go client enable the redirect func, but clusternet proxy will response 301 with a internal IP, which the client can't access.

<img width="1062" alt="企业微信截图_fa053d57-7d90-41aa-ad26-c14ce5ac3772" src="https://user-images.githubusercontent.com/34183243/138430027-683d0c60-072b-4ce2-aef1-351fdddc64f4.png">

#### What you expected to happen:

should not response 301.

####

[2021-10-25 11:20] silenceper opened #163 "Abstract a set of apis for cluster-agent, possibly externally extended"
#### What would you like to be added:
Abstract a set of apis for cluster-agent，like `virtual-kubelet` provider

#### Why is this needed:
Scenario: I don’t have permission to install the agent component in the member cluster, and hope to be able to clusternet-agent as a pluggable component

[2021-10-29 03:08] DanielXLee opened #168 "Failed to distribute job/service application"
#### What happened:
Distribute job application error:
[code]

Create a job app, clusternet will render job as a template into the Description `spec.raw`, this template includes an auto-generated `selector`, apply this job template to the child cluster will fail with error `selector` not auto-generated

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possi

[2021-11-01 10:47] #168 closed

[2021-11-02 07:45] lmxia opened #172 "NonexistentNamespace Base clusternet-h487b/app-demo is using a nonexistent Namespace foo"
#### What happened:
I deploy applications to Multiple Clusters with reference to https://github.com/clusternet/clusternet/blob/main/docs/tutorials/deploying-applications-to-multiple-clusters.md
while result to a failure. There is no Description created.

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

####

[2021-11-02 07:49] dixudx commented on #172
@lmxia  You should use `kubectl clusternet` instead of `kubectl`,

[code]

- xref [installing `kubectl-clusternet` plugin](https://github.com/clusternet/kubectl-clusternet).

[2021-11-02 08:23] lmxia commented on #172
Oh, My fault.

I checked and now it works well. Tks.

[2021-11-02 08:23] #172 closed

[2021-11-04 09:39] silenceper opened #174 "when apply an exist deployment, return error"
#### What happened:
when apply an exist deployment, return error
[code]

[code]
[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):
    - Clusternet-hub version (user `clusternet-hub --versi

[2021-11-04 09:39] silenceper commented on #174
It seems to be the problem caused by this pr #170

[2021-11-05 08:54] lmxia commented on #135
Very interesting. If it is possible, I want to on it.
Here is my thought, need more discussion.
1.  deployer in `clusternet-agent` need a `map[*metav1.APIResource] ResourceInformer`  to watch the resource changes
2.  enqueue the `namespacedname` of the associated `Description`.

however, now we can't resolve out the `Description` name from the raw content in the `Description`.
we can Set Annotatio

[2021-11-05 09:59] silenceper opened #175 "Support to add the label of the `mcls` object through parameters when the agent is started"
#### What would you like to be added:
Support to add the label of the `mcls` object through parameters when the agent is started.

like :
[code]

#### Why is this needed:

Although the label can be added by manually editing the mcls object, it is still hoped that the label can be specified directly in the agent through parameters (such as area and other information)

[2021-11-08 07:08] dixudx commented on #135
@lmxia Yes, and we also need to consider,

1. The configuration diffs between other clusters. It seems `Localization` could help solve this. Or a fix-named `Localization` could be used to help sync and aggregate all the diffs from a child cluster.

[2021-11-08 11:12] #174 closed

[2021-11-08 11:17] dixudx commented on #161
close this issue.

@leoryu Feel free to reopen this if you've got any questions.

[2021-11-08 11:17] #161 closed

[2021-11-09 07:39] #175 closed

[2021-11-10 07:35] DanielXLee opened #180 "description controller cannot reconcile when apply description failed"
#### What happened:
When the description apply failed, the description controller will not reconcile

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):
    - Clusternet-hub version (user `clustern

[2021-11-10 09:14] #180 closed

[2021-11-13 12:42] dixudx commented on #160
In k3s, `anonymous-auth` is explicitly set to `false`.

https://github.com/k3s-io/k3s/blob/f18b3252c0fbdfdc2a8e4d0a6d8deb4921052af9/pkg/daemons/control/server.go#L183-L185

Actually this is not a prerequisite.

[2021-11-15 08:33] #160 closed

[2021-11-16 09:52] dixudx opened #184 "aggregating workloads status from child clusters"
#### What would you like to be added:

#### Why is this needed:
When a workload is scheduled to multiple clusters, the aggregated status is unknown.

[2021-11-17 09:13] silenceper opened #186 "Support add `username`, `password` to repo in HelmChart"
#### What would you like to be added:
Support add `username`, `password` to repo in HelmChart

#### Why is this needed:
[code]

[2021-11-17 09:16] silenceper commented on #186
/assign @silenceper

I can contribute this feature.

[2021-11-17 09:27] dixudx commented on #186
[code]

@silenceper This is not secure. The credentials here are visible to anyone with `get`/`list` roles of `HelmChart`.

[2021-11-17 09:39] silenceper commented on #186
I agree.

maybe can chagne to this:
[code]
[code]

[2021-11-17 10:43] dixudx commented on #186
Another thing you need to take into consideration is if the sync mode is `Pull`, how to pass down those credentials.

[2021-11-18 12:08] silenceper commented on #186
My idea is to add `get` secret permission for serviceAccount when CRR approve.

The namespace of this secret can be configured in the hub like `--helm-repo-secret-namespace`, and all secrets involving the helm chart repo are placed under this namespace.

[code]

[2021-11-23 13:05] lucming opened #190 "Whether to support multiple control plane"
i just want to ensure if global cluster breakdown,can we make a work cluster to be global cluster,just like redis.
it can't provide service if global cluster breakdown and have have only one global cluster

[2021-11-25 04:26] dixudx commented on #190
If you want such highly available, you could set a cluster across multiple zones/regions with a [GSLB](https://avinetworks.com/glossary/global-server-load-balancing-2/). This will help keep your cluster available furthest.

And then deploying Clusternet with multiple replicas.

[2021-11-28 09:00] lucming commented on #190
but it will affect the performance of the etcd for different zones

[2021-11-29 07:31] #118 closed

[2021-11-30 03:18] lmxia opened #192 "Decouple the hard relationship and make clusters relation programmable"
#### What would you like to be added:
Don't specify the parent cluster url when agent starts, Use a CRD like "Target"、“Parent” to Store the parent url adress.
#### Why is this needed:
So we can decouple the hard relationship, and give a change to  **program** the structure of Cluster resources, **program** means we can init/edit as will.

[2021-11-30 04:36] dixudx commented on #192
For now, Clusternet has two CRDs, `ClusterRegistrationRequest` and `ManagedCluster` that can be used to represent cluster metadata.

Could but not recommended. A lot of cases should be handled first. If we switch the parent url from one to another,

1. the resources that deployed from previous parent clusters should be kept still or deleted?
2. the resource overrides from both sides conflicted. Ho

[2021-11-30 06:17] lmxia commented on #192
Yes, that's deep consideration.

[2021-11-30 06:17] #192 closed

[2021-11-30 09:21] dixudx commented on #186
As discussed, we could refer `ImagePullSecrets` in kubelet.

[2021-12-08 06:59] hansongChina opened #195 "Is there a community exchange group？"
Is there a community exchange group？Wechat, QQ or whatever？ @dixudx

[2021-12-08 07:01] dixudx commented on #195
<img width="387" alt="image" src="https://user-images.githubusercontent.com/5449021/145163319-cf938cd8-27c5-4b2c-9044-9b401779c76b.png">

We do have one wechat group. Feel free to join in. Welcome.

[2021-12-08 07:22] hansongChina opened #196 "Execute the "examples/ Applications" example, not deployed to the application to multiple clusters"
#### What happened:
Execute the "examples/ Applications" example, not deployed to the application to multiple clusters
#### What you expected to happen:
Execute the "examples/ Applications" example to deploy the application to the multiple clusters as normal
#### How to reproduce it (as minimally and precisely as possible):
step1: find cluster-id
![image](https://user-images.githubusercontent.com/

[2021-12-08 07:25] hansongChina commented on #195
Qr code has expired, send it again?

[2021-12-08 07:29] hansongChina commented on #195
Or pull me into a group? My wechat account is "sunloveworld"

[2021-12-08 08:12] hansongChina commented on #195
@dixudx

[2021-12-08 08:46] #195 closed

[2021-12-08 09:37] #186 closed

[2021-12-08 10:55] dixudx commented on #196
It was caused by environment misconfiguration. Already solved.

[2021-12-08 10:55] #196 closed

[2021-12-09 08:47] DanielXLee opened #200 "target cluster helm release does not upgrade when the HelmChart spec.version changed"
#### What happened:
[code]
target cluster helm release does not change
#### What you expected to happen:
target cluster helm release upgrade to version 0.2.0
#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):
    - Clusternet-hub ve

[2021-12-10 01:25] hansongChina opened #201 "supporting k3s as the hub server"
When the application is deployed, system:anonymous is used, causing an error when the hub application is deployed to the Agent。
status:
  phase: Failure
  reason: please check whether the advertised apiserver of current child cluster is
    accessible. Unauthorized

[2021-12-10 01:25] hansongChina commented on #201
K3s sets annoymous-auth to false by default
https://github.com/k3s-io/k3s/blob/f18b3252c0fbdfdc2a8e4d0a6d8deb4921052af9/pkg/daemons/control/server.go#L183-L185

[2021-12-10 01:45] dixudx commented on #201
Yes, `k3s` sets `annoymous-auth` to `false` by default. And this flag can not be override.

when using k3s as the hub server, [curl with parentClusterToken](https://github.com/clusternet/clusternet/blob/main/docs/tutorials/visiting-child-clusters-with-rbac.md#using-curl) works. While the deployer inside of `clusternet-hub` still uses `system:anonymous`. This is the root cause.

Thanks for raising

[2021-12-10 11:16] #200 closed

[2021-12-14 02:07] #135 closed

[2021-12-15 07:09] lmxia opened #208 "Add GPU statistic collection from child clusters."
#### What would you like to be added:

Try to get GPU info from child cluster nodeinfo, nvidia.com/gpu or AMD GPU, into managedcluster. Don't mind if we can't get GPU info.

#### Why is this needed:

Now clusterstatus controller periodly report cluster CPU and Mem info, while there is no GPU info, that's is not enough for forther GPU based workload schedule.

[2021-12-16 04:31] #201 closed

[2021-12-18 09:35] dixudx commented on #184
`kubectl-clusternet` plugin v0.5.0  introduced new flags `cluster-id` and `child-kubeconfig`. This made easier to visit child clusters through parent cluster using CLI, instead of constructing a complicated and dedicated kubeconfig.

Now it is easier to check any objects status in child clusters with CLI. Such as,

[code]

Follow guides on [visiting-child-clusters-with-rbac](https://github.com/clu

[2021-12-21 09:54] chestarss opened #215 "Does java k8s fabricio client can use direct for hub cluster proxy query child cluster resources"
#### What would you like to be added:

#### Why is this needed:

[2021-12-21 13:53] dixudx commented on #215
The answer is No. Currently java client is not well supported yet in Clusternet.

[2021-12-22 02:36] chestarss opened #218 "clusternet not working with below error."
#### What happened:
environment:
mac os m1, k8s cluster use kind create cluster.

**kubectl get pod -n clusternet-system**
[code]

kubectl apply deploy/hub  in mac m1 kindest cluster, clusternet not working with below error.

**kubectl logs pod/clusternet-hub-c88875f7c-wkc66 -n clusternet-system**
[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as po

[2021-12-22 02:44] chestarss commented on #218
- --anonymous-auth-supported=true
            - --leader-elect-resource-namespace=$(SYSTEM_NAMESPACE)

when i remove this tow line , it running.

[2021-12-22 02:52] dixudx commented on #218
@chestarss Aha, you've found our secret menu. These two flags are introduced in v0.7.0, which is still not released yet. Official v0.7.0 will be available in this week.

Using the `main` branch is usually at risk. When installing `Clusternet`, [using helm charts](https://github.com/clusternet/clusternet/blob/main/docs/tutorials/installing-clusternet-with-helm.md) are recommended.

[2021-12-22 03:24] chestarss commented on #218
is there error in clusternet-hub related v0.7.0 version .
[code]

[2021-12-22 03:28] dixudx commented on #218
No.

From the error message, it seems that `clusternet-hub` service is not functional. `clusternet-hub` is running as an AA, please make sure that parent apiserver could visit the  `clusternet-hub` service.

[2021-12-22 03:49] dixudx commented on #218
@chestarss Feel free to [join Clusternet WeChat Group](https://github.com/clusternet/clusternet/wiki/Joining-WeChat-Group).

[2021-12-22 09:20] chestarss opened #220 "Is there a plan to make a dashboard for clusternet"
#### What would you like to be added:

#### Why is this needed:

[2021-12-22 09:21] chestarss commented on #218
thx

[2021-12-22 09:21] #218 closed

[2021-12-24 01:44] fangyuchen86 opened #223 "Cannot find k8sapiserver pod with label "app.kubernetes.io/componment""
#### What happened:
Clusternet use label "component" to find the apiserver pod, which is created by kubeadm. But the k8s suggest use "app.kubernetes.io/component" to label k8sapiserver.

#### What you expected to happen:
Support both "component" and "app.kubernetes.io/component"

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environm

[2021-12-24 01:55] aiot commented on #223
The labels recommended by kubernetes can be found at https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/#labels

[2021-12-24 02:39] dixudx commented on #223
IIUC, the status manager in `clusternet-agent` could locate the right `kube-apiserver` to get the settings for reporting, due to the `kube-apiserver` may use other labels.

[2021-12-24 02:42] dixudx commented on #223
@fangyuchen86 Would you please help submit a PR fixing this?

[2021-12-24 02:45] fangyuchen86 commented on #223
OK

[2021-12-24 07:46] lmxia commented on #208
I'm working on this. Can you assign to me.

[2021-12-27 03:29] dixudx commented on #220
Duplicate of #87.

Yes, dashboard stays in our plan. And we need more contributors in our community to make this happen ASAP.

[2022-01-05 08:48] svolence opened #228 "Error: unknown shorthand flag: 'n' in -n (kubectl clusternet get subs -n test)"
#### What happened:
# Error: unknown shorthand flag: 'n' in -n
#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:

[code]

[2022-01-05 10:42] dixudx commented on #228
This is a bug of `kubectl-clusternet`.

Fixed in [kubectl-clusternet](https://github.com/clusternet/kubectl-clusternet) v0.5.1.

Please run `kubectl krew upgrade clusternet`.

[2022-01-05 10:42] #228 closed

[2022-01-06 13:43] raravena80 opened #229 "TAG-Runtime presentation/discussion"
Hello Clusternet team,

I'm one of the co-chairs of the CNCF TAG-Runtime. I believe you had an agenda item to present the project in our meeting. I'm following up, I think it would be great for you to present/discuss the project in the future.

Feel free to add it to our [agenda](https://bit.ly/cncf-tag-runtime-meeting-notes) or reach out to me (raravena80 at gmail.com) at your convenience.

Thank

[2022-01-07 12:05] dixudx commented on #229
@raravena80 Thanks for reaching out. We'd like to have such a presentation.

Currently Jan 20th has been taken by OCM. And Chinese spring festivals will start from Jan 31st to Feb 6th. So I'd prefer to present [Clusternet](https://github.com/clusternet/clusternet) on Feb 17th.

[2022-01-10 03:43] #223 closed

[2022-01-10 14:19] rootdeep opened #234 "not support to access aws eks child cluster by tls certificates"
#### What happened:

when visiting aws eks child cluster from hub with kubeconfig which  made of  certificates (certificates generated by csr),  an error output as follows:

error: You must be logged in to the server (Unauthorized)

when using a kubeconfig  made of secret token, it success

e.g.
![image](https://user-images.githubusercontent.com/28667591/148774558-13375358-4c99-4353-bab5-fa11290ad

[2022-01-10 15:49] huxiaoliang commented on #234
@rootdeep  could you please try this https://stackoverflow.com/questions/66719120/eks-with-kubectl-keeps-saying-unauthorized and check whether this issue get fixed?

[2022-01-12 08:40] #208 closed

[2022-01-14 02:39] dixudx commented on #234
Seems it is not related to `Clusternet`.

[2022-01-14 04:12] dixudx opened #236 "changes not rolled back in child cluster when working in Dual/Push syncMode"
#### What happened:
When child clusters are running with syncMode `Push`/`Dual`, changes will not be rolled back as expected.

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`): v0.7.0
    - Cluste

[2022-01-14 04:13] dixudx opened #237 "rollback changes for helm releases in child clusters"
#### What would you like to be added:

#### Why is this needed:

[2022-01-14 05:11] lmxia commented on #237
could you assign this issue to me?

[2022-01-14 05:11] lmxia commented on #236
i will work on this issue

[2022-01-14 08:53] DanielXLee opened #238 "clusternet-scheduler pod panic when subscription clusterAffinity cannot match any cluster"
#### What happened:

[code]

Detail errors:

[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):
[code]
Create above subscription, but don't have cluster `cls-613ixjcu` registered

[code]

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):

[2022-01-14 12:43] #238 closed

[2022-02-17 11:56] DanielXLee opened #244 "support helm registries"
#### What would you like to be added:
Helm 3 supports OCI for package distribution. Chart packages are able to be stored and shared across OCI-based registries.
As of helm v3.8.0 OCI is enabled by default.
https://helm.sh/docs/topics/registries/
#### Why is this needed:
We want to distribute helm chart from the OCI registry

[2022-02-17 16:43] dixudx commented on #229
Already done.

Close.

[2022-02-17 16:43] #229 closed

[2022-02-18 11:47] mrningyang opened #245 "支持statefulset的多集群分发吗？"
支持statefulset的多集群分发吗，比如一个statefulset有6个pod，在a,b,c三个集群分别为2个pod，分别为0-1，2-3，4-5。目前是怎么实现的，通过hub cluster作协调吗，某个集群怎么知道自己负责的statefulset序号应该是多少。

[2022-02-18 12:25] dixudx commented on #245
@mrningyang  这种做不到，也不太能做到。像 StatefulSet 这种序号，只能做到 a 集群部署一个 statefulset 副本为2，b集群一个statefulset 副本数为2。这个本质上是由于 Statefulset 的特定设计所限定的，没办法指定序列号进行创建。

如果是这种需求，我建议是自己定义一个类似于 StatefulSet 的 CRD 类型，可以支持指定序列号的起始。

[2022-02-18 12:27] #245 closed

[2022-02-18 12:27] mrningyang commented on #245
好的感谢，了解到这里的实现了

[2022-02-23 06:38] rootdeep opened #249 "support both /healthz and /readyz"
#### What would you like to be added:

In lower k8s version, such as `1.14.3` ,  tke cluster doesn't provide path `/readyz` for clusternet agent to check cluster's health. Once clusternet agent runs on the cluster,  agent will report `readyz` as "false" value to  hub. It's a false positive error.

Can we use both `/readyz` and `/healthz`  to check cluster's health. Once one of them give an `ok` re

[2022-02-26 12:34] #244 closed

[2022-03-01 01:58] #236 closed

[2022-03-01 10:02] chestarss opened #253 "clusternet-hub error log installed by helm"
[code]

#### What happened:
[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version: v0.7.0
    - Clusternet-agent version (user `clusternet-agent --version=json`):
    - Clusternet-hub version (user `clusternet-hub --version=json`): v0.7.0
- Kubernetes version (use `

[2022-03-02 01:44] dixudx commented on #253
@chestarss Not able to reproduce this. Would you please share more details on this? Thanks.

[2022-03-02 02:15] #253 closed

[2022-03-02 06:46] dixudx opened #254 "bump helm to v3.8.2"
#### What would you like to be added:

#### Why is this needed:

[2022-03-02 09:32] dixudx commented on #254
xref #255

[2022-03-03 12:49] rootdeep opened #256 "fail to download chart from registry"
#### What happened:
when a  helm repo is a oci based registry  in HelmChart, chart can be found, but not been installed in child cluster.

#### What you expected to happen:

success to install helm chart to child clusters from oci registry

#### How to reproduce it (as minimally and precisely as possible):
1. Create HelmChart with oci repo
2. Subscribe the HelmChart

#### Environment:
- Clusternet

[2022-03-03 13:44] #256 closed

[2022-03-04 09:09] snstaberah opened #259 "Does clusternet-hub support multi-replicas？"
#### What would you like to be added:
I see the websocket server in clusternet-hub is implemented by remote-dialer，and the replicas is set to 1；remote-dialer support multi replicas by set peers，Does clusternet-hub support multi-replicas？ I didn't find  any doc and code about this question；

#### Why is this needed:
if there is only one replica of clusternet-hub，the performance is limited and HA is

[2022-03-04 09:31] dixudx commented on #259
Yes, this feature will be supported in the following releases.
Please keep watching this project. Thanks for the support.

[2022-03-04 10:59] snstaberah commented on #259
got it，thanks

[2022-03-04 10:59] #259 closed

[2022-03-10 10:47] dixudx commented on #254
wait until helm/helm#10408 gets shipped.

[2022-03-15 07:42] DanielXLee opened #262 "hub cannot sync change to child when remove a line data from a configmap"
#### What happened:
delete a line data from a configmap, the hub cannot sync this change to a child cluster

example:
create a cm
[code]
delete `data.cc` from this configmap, hub cannot sync this change to the child cluster.
[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Cluste

[2022-03-15 07:45] dixudx commented on #262
Was this `Configmap` bound to any `Subscriptions`?

[2022-03-15 07:51] DanielXLee commented on #262
sure, this configmap has deployed to the child cluster, when updating the configmap, cannot sync to the child cluster.

[2022-03-15 10:25] #262 closed

[2022-03-16 07:06] jasine opened #264 "is there a way to ssh into a child cluster"
#### What would you like to be added:

- way to ssh into child cluster
- way to exec into remote pods
- way to print log through clusternet plugin

#### Why is this needed:

ssh into child cluster or exec into pods of child cluster is necessary in edge scenario, to do some maintenance work or check logs

[2022-03-16 09:32] dixudx commented on #264
I don't get what does this mean. The kubelet nodes?

way to print log through clusternet plugin

Yes you can. You can just directly use kubectl clusternet plugin to do all these operations, directly from parent cluster. You can refer to [this](https://github.com/clusternet/clusternet/blob/main/docs/tutorials/visiting-child-clusters-with-rbac.md#an-easy-way---kubectl-clusternet-plugin-recommended)

[2022-03-16 10:56] jasine commented on #264
@dixudx sorry I did not use the last version of plugin, and log/exec works after upgrading to version 0.6.0

my first question is, we use npu/gpu in egde  scenario, and thus we have to upgrade drivers on kubelet node, so is there a way to ssh into node, do you have any suggesting

when it comes to upgrade, how can we upgrade clusternet-agent itself by helm chart

appreciate your answering

[2022-03-16 11:56] dixudx commented on #264
Currently ssh into node is not supported. What Clusternet supports now are all Kubernetes native operations.

But this seems feasible if we add this feature into `clusternet-agent`. There are also some prerequisites. The nodes you want to ssh into should have port 22 open.

Actually when a cluster is registered as member cluster, you can visit and modify all resources in the member cluster. That m

[2022-03-17 08:40] mrningyang opened #266 "腾讯云内部是使用clusternet作多集群k8s吗？"
现在有一些企业等有生产实践吗? 想了解下目前是否已经有一些使用案例了。

[2022-03-17 09:23] dixudx commented on #266
内部和外部都已经有不少实践，腾讯云的公有云服务[云原生分布式云中心 TDCC](https://cloud.tencent.com/product/tdcc)就是基于 Clusternet 做的多集群 Kubernetes 管理及应用分发。

此外，我们还有一些线下活动，会分享一些详细的使用案例，可以通过公众号“腾讯云云原生”和“腾源会”来了解我们的最新活动。

[2022-03-18 05:58] jasine opened #267 "why add prefix to resource names"
#### What happened:

after deploying app by helm chart through clusternet, all resource names prefixed with subscription name and namespace, and I think it's unnecessary,  it may cause error when svc or deploy name is hard coded.

below is the difference between manually installed by helm and installed by clusternet

![image](https://user-images.githubusercontent.com/1934966/158945699-bc867966-8ce

[2022-03-18 15:32] jasine commented on #264
@dixudx thank for you reply, looking forward to these features

[2022-03-18 15:34] jasine commented on #267
sorry, resource prefix may added by the helm chart itself, my own chart looks normal, but the helm release name still prefixed, and maybe that's unnecessary neither

[2022-03-20 07:27] jasine opened #268 "clusternet kubectl plugin support port-forward"
#### What would you like to be added:

clusternet kubectl plugin support port-forward

#### Why is this needed:

proxy remote pod/svc to local for debugging

[2022-03-20 11:13] dixudx commented on #267
Yeah, that makes sense.

With #269, the new release name will be the same value as `HelmChart` name. That means you can declare your desired released name as `HelmChart` object name.

[2022-03-21 08:06] #267 closed

[2022-03-21 16:16] jasine opened #271 "chart not upgrade when globalization or localization helm value override changed"
#### What happened:

chart not upgrade when globalization or localization helm value override changed,

#### What you expected to happen:

chart should upgrade/update not only when chart version changed but also value file changed

[2022-03-23 15:44] jasine opened #273 "configure helm chart deploy order"
#### What would you like to be added:

configure helm chant deploy order

#### Why is this needed:

we can ship multiple charts in the feeds field of subscription, but some helm chats may have dependency, for example, we have to deploy monitor crd before servicemonitor resource can be deployed, so what if define a weight to measure helm deploy order in subscription.

besides on, when  a new cluste

[2022-03-25 02:02] dixudx commented on #273
In Helm, one chart may depend on any number of other charts. These dependencies can be dynamically linked using the dependencies field in `Chart.yaml`.

[code]

I'd prefer using Helm `dependencies` to help keep the deploy order.

[2022-03-25 06:01] jasine commented on #273
yes, using  helm dependencies better

[2022-03-25 06:01] #273 closed

[2022-03-28 09:14] #271 closed

[2022-03-29 02:23] jasine opened #275 "kube config file management of child cluster"
#### What would you like to be added:

store kube config file of child cluster in parent cluster and using it when specify a clusterid in  clusternet plugin

#### Why is this needed:

collecting, storing and managing kube config file is more  complicated when there many child clusters, thus if clusternet-agent can mount a path where child kube config file exist and  upload it to parent cluster and

[2022-03-29 04:14] dixudx opened #276 "Scheduler Estimator"
- [ ] Estimator Framework

[2022-03-29 05:55] dixudx commented on #275
Actually such a secret named `child-cluster-deployer` does exist in every dedicated namespace in parent cluster. Mostly we use this credential to deploy resources to child clusters. For other operators/controllers, they can build a client for a child cluster with this secret.

We can do this. But we need to take authentications & authorizations into considerations as well.

Currently `kubectl clus

[2022-03-29 06:13] dixudx commented on #276
cc @Garrybest

[2022-03-29 06:23] Garrybest commented on #276
PTAL
/cc @qianjun1993

[2022-03-29 06:45] dixudx opened #277 "Implement Built-in Default Replica Predictor"
- [x] #336
- [ ] #346

[2022-03-29 06:45] dixudx opened #278 "External Sample Replica Predictor"

[2022-03-29 06:45] dixudx opened #279 "Replica Estimator Deployment & Docs"

[2022-03-29 06:45] dixudx opened #280 "Performance Benchmark on Replica Estimator"

[2022-03-29 06:48] qianjun1993 commented on #277
/assign

[2022-03-29 06:57] yinsenyan commented on #278
/assign

[2022-03-29 13:01] dixudx opened #281 "make scheduler plugins configurable"
#### What would you like to be added:
- configure `clusternet-scheduler` with a profile, where the scheduling plugins could be configured
- each profile has an associated scheduler name and can have a different set of plugins configured in its extension points

Referring [kube-scheduler profiles](https://kubernetes.io/docs/reference/scheduling/config/#profiles)

#### Why is this needed:
A scheduli

[2022-03-29 13:03] dixudx opened #282 "replica predictor scheduling plugin"

[2022-03-29 13:37] yinsenyan commented on #281
/assign

[2022-04-01 12:55] jasine opened #284 "parent cluster stuck/hang when child cluster join"
#### What happened:

1. when my k8s child cluster join to parent cluster, many errors occured on clusternet-hub and no resource created on  child cluster.

![image](https://user-images.githubusercontent.com/1934966/161262278-a0198f7d-0c5a-4e24-9cf7-1d1d09d9de0c.png)

3. when I restart the clusternet-hub pod, it will cause parent cluster node lose response soon(high cpu usage and disk io read), I h

[2022-04-01 13:25] dixudx commented on #284
![](https://user-images.githubusercontent.com/1934966/161265857-2244f19a-b3ef-416a-9c58-b6edb1cf235a.png)

The errors in this picture can be ignored. They are irrelevant.

[2022-04-01 13:28] dixudx commented on #284
@jasine Could you elaborate your registration process? I did not get what happened exactly.

Also please help add annotations for each image, such as parent cluster, child cluster, clusternet components, etc.

[2022-04-01 16:02] jasine commented on #284
@dixudx I changed the description and removed irrelevant log.

my registration process:

1. I have a parent cluster (I tried k3s and qcloud hosted tke, they both have this problem), and installed clusternet-agent and clusternet-scheduler by helm with default values.
2. I created some helm charts and subscriptions, and I wish when child cluster registered, they will create corresponding resources a

[2022-04-03 08:57] dixudx opened #288 "populate overrides for dividing scheduling"
#### What would you like to be added:
- [x] replica json path #289
- [x] populate override #297

#### Why is this needed:

A follow-up of #286

[2022-04-03 09:41] dixudx commented on #284
Please check whether `clustern-hub` could access `kube-apiserver` in parent cluster.

[2022-04-06 08:24] dixudx opened #293 "external FeedInventory sample controllers"
#### What would you like to be added:

#### Why is this needed:

[2022-04-06 13:14] #249 closed

[2022-04-07 07:30] dixudx commented on #288
/cc @Garrybest

[2022-04-11 07:33] dixudx commented on #288
All done.

[2022-04-11 07:33] #288 closed

[2022-04-11 10:11] DanielXLee opened #299 "able to declare CR without CRD"
#### What would you like to be added:

#### Why is this needed:

CRs that declared only for child clusters can not be created before a CRD is applied to the parent cluster.

[2022-04-11 14:08] GeorgeGuo2018 opened #300 "delete subscription(feed is a configmap) in parent cluster, cm in child cluster still exist"
#### What happened:
i set up a clusternet parent cls and a clusternet child cls (version 0.8.0).
defined  a configmap and a subscription in the parent cls, and kubectl clusternet apply those resource in the parent-cls.

the configmap yaml is as follows:

[code]

the subscription yaml is as follows:
[code]

 after the kubectl clusternet apply option, i can see the configmap created in the child clu

[2022-04-12 06:36] #300 closed

[2022-04-24 02:56] DanielXLee opened #315 "`kubectl clusternet` create namespace "test" failed if the namespace "test" existing and created by `kubectl`"
#### What happened:

[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):
    - Clusternet-hub version (user `clusternet-hub --version=json`):
- Kubernetes version (use `kubectl version`):
-

[2022-04-24 12:13] #315 closed

[2022-04-24 12:36] #299 closed

[2022-04-26 10:50] rootdeep opened #318 "fail to upgrade helm release"
#### What happened:
I installed a chart with v1.0.0 , now I tried to upgrade the chart to v1.0.1,  but the upgrade process is failed.

It shows "cannot re-use a name that is still in use" in hr's status.

#### What you expected to happen:
upgrade the chart version successfully

#### How to reproduce it (as minimally and precisely as possible):
1. create helmchart cr with version 1.0.0
2. subscribe

[2022-04-26 11:22] rootdeep commented on #318
resolved by #309

[2022-04-26 11:22] #318 closed

[2022-05-10 03:36] silenceper opened #325 "Application deployment failed due to labels length limit"
https://github.com/clusternet/clusternet/blob/be9a89ab08d4368f15e77d5170a89bb27653f04a/pkg/utils/deployer.go#L328

It's fine if set in annotations, and it's as expected

[2022-05-11 10:14] #325 closed

[2022-05-12 11:28] DanielXLee opened #329 "kubectl clusternet scale deployment replices not work"
[code]

Run `kubectl clusternet -n demo scale --replicas=6 deployment my-nginx`

After waiting 2 minutes, the subscription status does not change, find the following error log in the hub pod:

E0512 11:09:00.408109       1 feedinventory.go:288] error syncing 'default/demo': feedinventories.apps.clusternet.io "demo" is invalid: metadata.resourceVersion: Invalid value: 0x0: must be specified for an

[2022-05-13 05:55] DanielXLee commented on #329
Reproduce issue:

1. clone clusternet source code and update file clusternet/examples/static-dividing-scheduling/subscription.yaml with following content:
[code]

2. Apply example yaml

[code]

3. Check the result

[code]

4. Scale the deployment replicas to 9
➜  examples kubectl clusternet -n bar scale --replicas=9 deployment my-nginx
deployment.apps/my-nginx scaled

5. Check the subscription sta

[2022-05-13 06:39] DanielXLee opened #331 "clusternet cannot schedule when updating the deployment replicas"
#### What happened:
[code]
#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):
    - Clusternet-hub version (user `clusternet-hub --version=json`):
- Kubernetes version (use `kubectl version`):
- Cl

[2022-05-13 08:46] #329 closed

[2022-05-13 08:46] #331 closed

[2022-05-14 08:02] jasine opened #333 "clusterAffinity of Globalization not working"
#### What happened:

I want to override different configs for a subscription  according to different labels of mcls, so I  created two Globalization and use `matchLabels` of `clusterAffinity` field to query different mcls , but `clusterAffinity` does  not  work, all overrides of Globalizations merged in target `description`

#### Environment:
- Clusternet version:
    - Clusternet-agent version (u

[2022-05-14 08:11] dixudx commented on #333
@jasine Could you please share your `Globalization` specifications?

[2022-05-14 08:15] jasine commented on #333
@dixudx

[code]

[2022-05-14 08:27] dixudx commented on #333
For `Globalization`, the `clusterAffinity` is not implemented yet. And it will be probably marked as deprecated, since `Feed` is enough to match a resource explicitly.

[2022-05-14 09:03] jasine commented on #333
@dixudx I think clusterAffinity of Globalization is still useful, for example, in my scenario, if  use `Feed`, I have to create  two feeds and  two Globalization to override them, while if clusterAffinity of Globalization works, one less resource (feed ) is created

[2022-05-14 09:11] dixudx commented on #333
@jasine Right, `clusterAffinity` will still be useful.

Would you like to implement this feature?

[2022-05-14 09:21] jasine commented on #333
OK, let me have a try

[2022-05-17 02:10] #333 closed

[2022-05-17 12:21] DanielXLee opened #335 "static dividing scheduler very slow"
create a nginx deployment and subscription with a static dividing scheduler,  the scheduler needs to wait about 17 minutes to complete the schedule

#### What happened:

[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clu

[2022-05-18 06:29] snstaberah opened #337 "usage for shadow apiserver"
#### What would you like to be added:
need docs  for shadow apiserver featuregate
#### Why is this needed:
I found a featuregate flag in clusternet-hub  deployment file
![image](https://user-images.githubusercontent.com/8952747/168971221-9dc92b0b-f56b-4386-ab6c-0dbbaccb15f4.png)

but i didn't found any doc to explain  the function of this ShadowAPI，and when should we set it to true/false；

i read

[2022-05-18 12:48] DanielXLee opened #338 "the application cannot be removed when the custom label remove from ManagedCluster"
#### What happened:
1. add a custom label for ManagedCluster
2. create subscribers with the custom cluster label
3. application created success
4. delete the custom label from ManagedCluster, the application is not be deleted

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

1. create a subscription with the custom cluster label `cluster-owner:

[2022-05-20 02:34] dixudx commented on #337
@snstaberah  In short, if you want to deploy multi cluster resources, you need to enable this feature gate `ShadowAPI`. With this feature gate, you can create a `Deployment` in `kube-apiserver`, while this deployment is only visible to Clusternet. That's why I call it shadow api.

You can view this deployment with clusternet plugin.

[code]

[2022-05-20 06:57] #338 closed

[2022-05-20 08:40] snstaberah commented on #337
thanks，but why i need to create a deployment is only visible to Clusternet？and how to create such a deployment？i see examples in  examples/applications/，and the deployment  seems just like the normal deployment；  Does it means when i create a  normal deployment in kube-apiserver，the clusternet will auto create another shadow one in clusternet schema and scope？

[2022-05-20 09:02] dixudx commented on #337
Clusternet runs as an add-on to manage multi clusters. We do need to way to distinguish those objects from those in `kube-apiserver`. For example, if you create a deployment with `kubectl create deployment xxx`, then this deployment will run in current cluster immediately. But this is not what we want. We want to deploy this deployment to multi clusters, not current single cluster.

`kubectl clust

[2022-05-21 05:00] snstaberah commented on #337
understood，thanks

[2022-05-21 05:00] #337 closed

[2022-05-23 09:53] silenceper opened #342 "Make kube-scheduler plugins configurable"
#### What would you like to be added:
Make kube-scheduler plugins configurable, and allows to add some custom plugins.

#### Why is this needed:

[2022-05-23 11:07] dixudx commented on #342
Duplicate of #281.
Close it. Feel free to reopen if needed.

[2022-05-23 11:21] silenceper commented on #281
Any updates on this issue?  @yinsenyan

[2022-05-25 02:12] autumn0207 opened #345 "Proposal: support distributed scheduling"
#### What would you like to be added:
Some ideas for scheduling improvement:
- support multiple parent-cluster schedulers running in parallel, and the estimator in each sub-cluster maintains its own resource view.
- support estimator resource reservation(implemented by clusternet-scheduler framework permit plugin)
- (optional)support late binding. Once resource reservation occurs, clusternet-agent

[2022-05-25 03:13] dixudx commented on #345
@autumn0207 Thanks for your proposal.

[2022-05-26 06:32] DanielXLee opened #347 "kubectl-clusternet cannot show the additionalPrinterColumns for the crd resource"
#### What happened:
[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):
    - Clusternet-hub version (user `clusternet-hub --version=json`):
- Kubernetes version (use `kubectl version`):
- C

[2022-05-26 06:32] DanielXLee opened #368 "kubectl-clusternet cannot show the additionalPrinterColumns for the crd resource"
#### What happened:
[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):
    - Clusternet-hub version (user `clusternet-hub --version=json`):
- Kubernetes version (use `kubectl version`):
- C

[2022-05-27 04:47] ruyingzhe opened #351 "Can Clusternet support transparent mode?"
Can Clusternet support transparent mode?  Users can create multiple cluster applications without plug-ins,  which makes it easier to integrate with other platforms and tools.

For example, you can add a proxy on the hub cluster to automatically catch the requests and convert to manifest format

[2022-05-27 10:06] silenceper commented on #335
I also encountered this problem.
scheduler queue blocking?

[2022-05-27 10:15] #277 closed

[2022-05-27 10:40] dixudx commented on #335
Have you run scheduler with leader elections?

[2022-05-27 11:08] silenceper commented on #335
The default settings are used, and the leader election should have been turned on.

I'll check first if it's a problem

[2022-05-31 07:21] #282 closed, assigned to yinsenyan

[2022-06-02 05:55] yinsenyan commented on #293
https://github.com/clusternet/sample-controllers/pull/2

[2022-06-06 07:26] yinsenyan commented on #293
Sample controller pull request has been merged，can this issue be closed?
https://github.com/clusternet/sample-controllers/pull/2

[2022-06-06 07:54] #293 closed

[2022-06-07 03:41] zhenkuang opened #363 "can clusternet support specify the namespace of the manifest object ?"
#### What would you like to be added:
clusternet support specify the namespace of the manifest object
#### Why is this needed:
Now the manifest object is placed under the clusternet-reserved namespace. If we need different resource objects in different clusters, we need to use the override capability to cover different fields, but if there are a lot of different content, the more content that need

[2022-06-07 06:29] yinsenyan commented on #278
https://github.com/clusternet/sample-controllers/pull/3

[2022-06-07 06:58] dixudx commented on #363
Yes, and it is configurable to use other name.

I did not get what you mean. Clusternet handles multi-cluster resources.

For overriding, you can use `Globalization` and `Localization`. Refer [this link](https://github.com/clusternet/clusternet/blob/main/docs/tutorials/setting-overrides.md) to learn how to set overrides in Clusternet.

---

For end-users, they should not care about `Manifests`, wh

[2022-06-07 07:52] zhenkuang commented on #363
I mean, is it possible to support different resource objects with the same name without using override?

[2022-06-10 07:12] xrmzju opened #369 "clusternet-hub does not support leader election"
#### What would you like to be added:

clusternet-hub add leader election support

#### Why is this needed:

[2022-06-11 06:47] snstaberah opened #372 "clusternet agent discoverClusterCIDR failed"
#### What would you like to be added:
![image](https://user-images.githubusercontent.com/8952747/173176767-88d93c04-151a-4162-a1fd-de2a65b3e13d.png)
clusternet-agent failed when  running  in a kubernetes  that apiserver、controller-manager、kube-scheduler run as a docker container or bin
#### Why is this needed:
add param to set cluster cidr、servicecidr ，so clusternet can manage a cluster that apise

[2022-06-13 02:59] dixudx commented on #372
@snstaberah Would you please submit a PR on fixing this?

Currently these kube pods are searched with label selectors, either `component=kube-apiserver` or `app.kubernetes.io/component=kube-apiserver`.  That's why `clusternet-agent` can not find `kube-apiserver` running as a separate docker container or binary process.

[2022-06-13 03:41] snstaberah commented on #372
ok  i think let user set these in agent env  is a solution，if agent can't find control-plan compent  as static pod,then agent  can  read  these  in  agent  env  param;
this  is  more effective than  try  to  find  those  param  automatically,because those  param is mostly static setted and seldom change, and there are  many  solutions  to install a kubernetes cluster,   write a automatic method to

[2022-06-13 07:54] dixudx commented on #372
I agree.

this is more effective than try to find those param automatically,because those param is mostly static setted and seldom change,

Sounds good. This provides a flexible way to find those pods. And I think static pods apply to this design as well. We can apply default environment values.

But what if those k8s components are running with binaries or docker containers ?

[2022-06-13 08:43] dixudx commented on #372
Great! Let's do it in this way.

[2022-06-13 10:25] DanielXLee opened #373 "the agent did not generate parent-cluster secret"
#### What happened:
clusternet-agent cannot generate a secret parent-cluster when registry success

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):
    v0.10.0
    - Clusternet-hub version (user

[2022-06-15 06:15] snstaberah commented on #369
[https://github.com/clusternet/clusternet/issues/259#issue-1159413475](url)

@dixudx   i think we can use a solution  like rancher peer-manager instead of  leader-election；the websocket connection is stateful and only  keep peer-sync through clusternet-hubs  can implement true  loadbalance；

[2022-06-15 07:07] dixudx commented on #369
@snstaberah Right. PTAL #378

[2022-06-15 07:35] snstaberah commented on #369
very good work，thanks

[2022-06-15 10:28] DanielXLee opened #379 "support override HelmChart resource when deploy a helm application"
#### What would you like to be added:

#### Why is this needed:

[2022-06-15 10:30] DanielXLee opened #380 "add intermediate states when install/update a helm chart"
#### What would you like to be added:
example:
add a install-pending state after trigger a helm install
add a upgrade-pending state after trigger a helm upgrade

#### Why is this needed:

[2022-06-16 02:42] #373 closed

[2022-06-16 07:59] huxiaoliang commented on #380
@DanielXLee  please  also include helm rollback

[2022-06-17 07:14] #380 closed

[2022-06-20 02:22] DanielXLee commented on #380
@huxiaoliang The current design don's support rollback like helm CLI rollback. We can use helm upgrade to rollback to an older version

[2022-06-20 09:48] #368 closed

[2022-06-21 06:29] DanielXLee opened #386 "custom the namespace when registry a child cluster"
#### What would you like to be added:

#### Why is this needed:

[2022-06-23 07:35] lmxia opened #390 "Add managedcluster labels aggregated from child cluster nodes"
#### What would you like to be added:
Add managedcluster labels aggregated from child cluster nodes.

#### Why is this needed:

So we can schedule according to cluster labels, like geo-location etc.

It's may be  just one-way label( from child nodes to parent mcls ) or  two-way label ( from mcls to child nodes), which need more discussion.

[2022-06-23 10:46] snstaberah commented on #386
I have the same requirement for this feature.  Mark

[2022-06-23 10:51] snstaberah opened #392 "add docker image select param for make images"
#### What would you like to be added:
add a param to build specified  docker images for single component，such as "make images clusternet-agent"
#### Why is this needed:
now the  "make images"  will build docker images  for clusternet-agent, clusternet-hub and clusternet-scheduler，but in dev we usually only need  build one of them；  build 3 images takes  too long for rapid code test；

[2022-06-24 06:29] #372 closed

[2022-07-04 02:31] #390 closed

[2022-07-04 02:39] #379 closed

[2022-07-04 12:26] wl-chen opened #402 "support helm install flags"
#### What would you like to be added:
I hope that clusternet supports helm install flags options when installing chart.
#### Why is this needed:
helm chart install timeout time is default 5 mintues. If this time is exceeded, it will return failure. But my localization's installazition needs more 5 minutes sometimes. And now clusternet dont support helm install flags. So i cant use --timeout or --w

[2022-07-05 02:28] wl-chen commented on #402
@dixudx In addition to the timeout value, can you add a --wait value?
<img width="1258" alt="wecom-temp-bdb917ad7e08c59f9ecfc80ea11c79e4" src="https://user-images.githubusercontent.com/27396108/177237460-9d12b095-e473-4952-9005-d15e501b746c.png">

[2022-07-05 02:44] dixudx commented on #402
`--wait` and `--timeout` are usually used together. I'm fine to add these two new fields.

@wl-chen Please feel free to implement this if you're interested.

[2022-07-05 07:59] MentosL commented on #392
Hello, please ask: I see that different modules have been packaged for PKGNAME in the current Dockerfile. Does this task refer to this?

[2022-07-05 08:00] dixudx commented on #392
No.

This issue will only focus on specifying a desired target package image to build.

[2022-07-05 09:55] wl-chen commented on #402
ok, i will try it~

[2022-07-06 02:35] snstaberah commented on #392
lgtm

[2022-07-11 07:35] dixudx commented on #278
Already done.

[2022-07-11 07:35] #278 closed

[2022-07-11 07:40] dixudx commented on #335
This has been fixed in #399.

[2022-07-11 07:40] #335 closed

[2022-07-11 07:41] dixudx opened #412 "replica predictor framework supports GRPC"
#### What would you like to be added:

#### Why is this needed:

[2022-07-11 07:44] dixudx commented on #276
open a new issue #412 to track supporting GRPC in  replica predictor framework

[2022-07-11 07:46] #137 closed

[2022-07-12 09:08] dixudx opened #414 "implement UnschedulableReplicas in interface PredictorProvider"
#### What would you like to be added:
kind/feature

#### Why is this needed:

[code]

`UnschedulableReplicas` is not implemented yet.

[2022-07-12 09:14] dixudx opened #415 "use net replicas as predictor result"
#### What would you like to be added:
kind/enhancement

#### Why is this needed:

[2022-07-15 09:59] jasine opened #422 "description create failed after upgraded to 0.11.0"
#### What happened:

after upgraded to 0.11.0 helm description failed to create

`kubectl describe base xxx` has following error

[code]

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`): 0.11.0
    - Clusternet-hub version (user `clusternet-hub --version=json`): 0.11.0
- Kubernetes version (use `k

[2022-07-15 12:43] dixudx commented on #422
@jasine I can not reproduce this with v0.11.0.

Actually this should had been fixed by #416.

[2022-07-16 05:36] snstaberah opened #423 "userextras headers lost in exchanger.ProxyConnect"
when i add extra header in http request to clusternet proxy（clusterrole rule is already  added before），such as
[code]

i found that the exchanger  can not  receive MY-EXTRA-HEADER from the httprequest in exchanger  ProxyConnect func；

but if i add a prefix “clusternet” before my header，the  httprequest in exchanger  ProxyConnect func  can receive it and works well；
[code]
I wonder why only http he

[2022-07-17 09:21] dixudx commented on #423
Please try `clusternet-MY-EXTRA-HEADER`.

[2022-07-18 00:49] snstaberah commented on #423
i  just can‘t find  where is the filter for clusternet header，is this setted in clusternet-hub  ？ or apiserver impersonate mechanism originally works like this？

[2022-07-18 02:52] snstaberah commented on #423
but in my test，header set in http.request without  **Impersonate-Extra-** can pass to the exchanger.ProxyConnect，only headers setted as impersonate-extra will be filter  by the clusternet prefix；
![image](https://user-images.githubusercontent.com/8952747/179437609-c54c02de-547c-4b69-8abd-27d2480cd3a2.png)

I  have  readed  kubernetes-1.23.8\staging\src\k8s.io\apiserver\pkg\endpoints\filters\impers

[2022-07-18 03:02] snstaberah commented on #423
the requirement is，i need to access not only apiserver，but also some application in clusternet  managed kubernetes，without direct access network，so the request need  to pass  through  clusternet-hub；
some application need to set their own header in the request，so  I'm trying to find a general method to let user set those headers，for example jenkins；

I think this is a common  requirement，if we can

[2022-07-18 03:46] dixudx commented on #423
some application need to set their own header in the request，so I'm trying to find a general method to let user set those headers，for example jenkins；

You can add `clusternet` as prefixes for all extra headers. Then you can pass down all those headers to child clusters and applications running out there.

Actually this has nothing to do with `impersonation`.

[2022-07-18 04:07] snstaberah commented on #423
but this will mix clusternet system header logic with  app header logic， I think add another header perfix for custom headers and handle those in a special func  will be better， for example  “application” or  “custom ”；   so the question actually is how to add a customize prefix？

so this trick is about apiserver  authentication to aggregate-apiserver？

[2022-07-18 07:48] dixudx commented on #423
Currently clusternet only cares about a few known headers, such as `clusternet-token`. For your case, I think you can add `clusternet-app-` or `clusternet-extra-` as prefixes. That wont' be a problem.

Yes, you're right. By default, after authentication, the extra headers are removed.

[2022-07-18 09:32] snstaberah commented on #423
I found the trick here   ：）

![image](https://user-images.githubusercontent.com/8952747/179483041-499fb053-7482-474a-b554-68da495fe37b.png)

this confused me several days，so clusternet need a customized apiserver code to build it's own apiserver；

thanks for the hint

[2022-07-18 10:40] #423 closed

[2022-07-20 03:14] #392 closed

[2022-07-20 03:42] DanielXLee commented on #422
Also can not reproduce in TKE cluster
[code]

[2022-07-20 06:42] qianjun1993 opened #425 "Unable to pass webhook when update some custom resource"
#### What happened:
I want to use clusternet to manage some custom resource, so I use kubectl-clusternet to apply and update the resource.
But it report something wrong to call webhook when I try to update the resource which does not happened outside  clusternet .

[code]
#### What you expected to happen:
No bug reported

#### How to reproduce it (as minimally and precisely as possible):
Build `cl

[2022-07-20 09:03] #425 closed

[2022-07-21 03:49] dixudx opened #426 "predictor should calculate net acceptable replicas for each filtered node"
#### What would you like to be added:
kind/feature

#### Why is this needed:

[2022-07-21 07:11] dixudx opened #428 "implement hardware awareness scheduling based on NFD"
#### What would you like to be added:
kind/feature

#### Why is this needed:
Proposal https://clusternet.io/proposals/ha-nfd/

[2022-07-21 07:12] dixudx commented on #428
cc @lmxia @hle2

[2022-07-21 07:14] dixudx commented on #402
@wl-chen Any progress on this new feature?

[2022-07-21 07:17] wl-chen commented on #402
I've been busy lately, this week or next week.

[2022-07-21 07:25] dixudx commented on #363
kubectl clusternet -m ${manifest-namspace} -n logicalcluster-sample-1653297310-ns get cm

This seems like a multi-tenant issue. Currently Clusternet **DOES NOT** introduce such multi-tenant concepts, neither Kubernetes.

Actually we could support multi-tenant in `Manifest` objects. But all the other objects, such as `Subscription`, `Globalization`, should be multi-tenant as well. Then it becomes a

[2022-07-21 07:40] rootdeep commented on #234
aws cluster not support  to authentication with certifacates, only tokens  works.

[2022-07-21 07:40] #234 closed

[2022-07-21 07:45] dixudx commented on #190
Now all clusternet components can be deployed with multiple replicas. This can help improve the high availability.

But if the hub Kubernetes cluster crashes down, there is nothing we can do.

[2022-07-21 07:52] lucming commented on #190
en, thanks for your reply :)

[2022-07-22 02:58] dixudx opened #430 "integrates clusterpedia to Clusternet"
#### What would you like to be added:
kind/feature

#### Why is this needed:

Clusterpedia can synchronize resources with multiple clusters and provide more powerful search features on the basis of compatibility with Kubernetes OpenAPI to help you effectively get any multi-cluster resource that you are looking for in a quick and easy way.

refs:
- https://clusterpedia.io/docs/concepts/cluster-impo

[2022-07-22 02:59] dixudx commented on #430
cc @Iceber

[2022-07-22 11:20] wl-chen commented on #402
I want to add an annotation (helm chart timeout value) on helmchart resources. And chart when installing release can read this annotation. What do you think of it?

[2022-07-23 02:08] #422 closed

[2022-07-23 02:12] dixudx commented on #402
I think we can add it to `HelmChartSpec`, and set a default timeout value.

[2022-07-25 09:50] Garrybest opened #434 "Failed to list new CRDs when using informer and lister"
#### What happened:

Now clusternet failed to list CRDs when using informer and lister. When we add new crd instances, the lister could not list the new instances.

#### What you expected to happen:

Our informer should behave like what Kubernetes does.

#### How to reproduce it (as minimally and precisely as possible):

1. Create a new foo object in `sample-controller` repo.
2. Run this demo.

[c

[2022-07-25 10:23] dixudx commented on #434
Fixed by #433

[2022-07-25 10:23] #434 closed

[2022-08-02 05:37] silenceper opened #439 "clusternet requires application name length to be limited to 63 characters, inconsistent with k8s behavior"
#### What happened:
Fails if creating a workload with a name longer than 63 characters

#### What you expected to happen:
Consistent with the k8s application name length limit

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):

[2022-08-02 05:38] silenceper commented on #439
It seems to use name as a value for labels

[2022-08-02 07:40] dixudx commented on #439
For namespaces, the name will be used as label value as well.

[code]

A default label `kubernetes.io/metadata.name: xxxxxxx` will be auto populated.

**For other resources, the maximum value length is 253.**

Yes, exactly. This label will be used for label selectors when listing resources.

[2022-08-02 09:19] silenceper commented on #439
Mainly because the workload name is too long before, and this limitation is encountered when deploying to clusternet.

[2022-08-03 13:48] victory460 opened #441 "What are the differences compared to karmada？"
This project is awesome and perfect.
What are the differences, advantages and disadvantages compared to [karmada](https://github.com/karmada-io/karmada)？

[2022-08-04 06:44] dixudx commented on #441
@victory460 Thanks for your support on Clusternet.

Both Clusternet and Karmada are trying to solve the same problems, i.e., multiple Kubernetes cluster managements and cross-cluster application managements. But they are adopting different approaches. And they are using different design principles as well.

Clusternet is designed to be an add-on, which can be deployed easily like other add-on plug

[2022-08-04 12:31] victory460 commented on #441
Thanks a lot.

[2022-08-04 12:43] victory460 commented on #441
What this mean? Can you give a example for the scenes. @dixudx

[2022-08-04 13:43] dixudx commented on #441
In Clusternet, a parent cluster can register itself as a child cluster. This brings a consistent cluster managements on all member clusters.

[2022-08-04 13:48] victory460 commented on #441
Awesome, it look like a tree.

[2022-08-04 13:53] victory460 commented on #441
When the member cluster is deployed in a private environment (such as IDC),  only the main cluster exposed with public ip.
Can `clusternet` work fine for the situation? @dixudx

[2022-08-04 14:01] dixudx commented on #441
Sure. Only if the child clusters can visit the parent cluster, then all works well. Clusternet can manage all kinds of clusters, including clusters running at the edge, in private IDC, private/public clouds, or on your raspberry pi.

[2022-08-05 08:38] victory460 commented on #441
clusternet need [submariner](https://submariner.io/) to enables direct networking between Pods and Services in different Kubernetes clusters?

[2022-08-08 02:07] dixudx commented on #441
Submariner could work as an add-on to help extend the cross-cluster networking.

[2022-08-09 08:02] dixudx commented on #264
@jasine Sorry for the late reply. Actually `clusternet-agent` itself can be managed as applications in Clusternet as well.

After we install `clusternet-agent` and get the `ManagedCluster` registered, we can create a `Subscription` to deploy `clusternet-agent` Deployment to those child clusters. Then we can modify this Deployment in parent cluster to upgrade `clusternet-agent` in child clusters.

[2022-08-09 08:06] dixudx commented on #264
@jasine As the other question on ssh, we could rely on `port-forward` capability. As we know, all the child clusters can be accessed directly from parent cluster. If we can deploy a pod dedicated for `ssh` in every child clusters, then we can redirect our local ssh requests to remote targets through that `ssh` pod.

[2022-08-09 12:08] silenceper opened #445 "The k8s cluster has custom scheduling logic, and FeedInventory needs to be extended"
#### What would you like to be added:
predictor has custom scheduling logic, depends on the annotation information of the pod, and needs FeedInventory to supplement the annotation information of the pod

#### Why is this needed:

[2022-08-10 01:24] victory460 opened #446 "`kubectl get clsrr` the server doesn't have a resource type "clsrr""
#### What happened:
Follow this guide of https://clusternet.io/docs/installation/install-the-hard-way:

kubectl get clsrr:
<img width="512" alt="image" src="https://user-images.githubusercontent.com/30213558/183790489-587ea340-cae0-429c-ae3f-48c6a1aa2a95.png">

children:
![image](https://user-images.githubusercontent.com/30213558/183790231-b825654c-e747-4d3f-b6f5-65b07f9cf1b8.png)

parent:
![image

[2022-08-10 02:05] dixudx commented on #446
@victory460 Have you run `kubectl apply -f deploy/hub`, where CRDs will be applied.

[2022-08-10 02:06] victory460 commented on #284
How to config kube-apiserver address in `clustern-hub ` ?

[2022-08-10 02:11] victory460 commented on #446
I have done it before.

[code]

[2022-08-10 02:23] victory460 commented on #446
clusternet-hub log:

[a.log](https://github.com/clusternet/clusternet/files/9295947/a.log)

[2022-08-10 02:28] dixudx commented on #446
[code]

It seems the CRDs are not applied. Please check them.

[code]

[2022-08-10 02:32] dixudx commented on #284
By default `clusternet-hub` use in-cluster config to visit `kube-apiserver`. You can set explicit kubeconfig by flag `--kubeconfig` as well.

[2022-08-10 02:35] victory460 commented on #446
Thanks! You are right. Why these crds not running? What can we do to solve this problem?
[code]

[2022-08-10 02:39] dixudx commented on #446
Have you cloned the whole repo?

`kubectl apply -f deploy/hub` will apply all the resources in this folder, where CRDs are defined as well. These CRDs are using soft links to `../../manifests/crds`. You can take a check.

You can also directly apply with `kubectl apply -f manifests/crds` as well.

[2022-08-10 04:37] victory460 commented on #446
Thanks a lot.

[2022-08-10 04:37] #446 closed

[2022-08-10 04:38] #441 closed

[2022-08-10 09:10] Sword-zhj opened #448 "installing kubectl plugin kubectl-clusternet, distribute application to child clusters failed"
#### What happened:
After installing kubectl plugin [kubectl-clusternet](https://github.com/clusternet/kubectl-clusternet), we run below commands to distribute this application to child clusters，We get the following result

Error from server (ServiceUnavailable): error when retrieving current configuration of:
Resource: "/v1, Resource=namespaces", GroupVersionKind: "/v1, Kind=Namespace"
Name: "foo

[2022-08-10 09:16] Sword-zhj commented on #448
apiVersion: v1
kind: Namespace
metadata:
  name: foo
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-nginx
  namespace: foo
  labels:
    clusternet-app: multi-cluster-nginx
spec:
  selector:
    matchLabels:
      app: nginx
  replicas: 2
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:1.14.2

[2022-08-10 09:33] dixudx commented on #445
`FeedInventory` could be out-of-tree. You can disable feature gate `FeedInventory` when starting `clusternet-hub`.

Refer to [sample external feedinventory controller](https://github.com/clusternet/sample-controllers/tree/main/cmd/external-feedinventory).

[2022-08-10 09:40] dixudx commented on #448
Would you please share your commands here?

[2022-08-10 09:46] Sword-zhj commented on #448
./kubectl-clusternet apply -f foo.yaml

[2022-08-10 09:47] Sword-zhj commented on #448
./kubectl-clusternet apply -f foo.yaml

[2022-08-10 09:48] Sword-zhj commented on #448
foo.yaml have provided above.

[2022-08-10 09:49] Sword-zhj commented on #448
apiVersion: v1
kind: Namespace
metadata:
name: foo
apiVersion: apps/v1
kind: Deployment
metadata:
name: my-nginx
namespace: foo
labels:
clusternet-app: multi-cluster-nginx
spec:
selector:
matchLabels:
app: nginx
replicas: 2
template:
metadata:
labels:
app: nginx
spec:
containers:
- name: nginx
image: nginx:1.14.2
ports:
- containerPort: 80
apiVersion: v1
kind: Service
metadata:
name: my-nginx-svc

[2022-08-10 09:50] Sword-zhj commented on #448
`apiVersion: v1
kind: Namespace
metadata:
  name: foo
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-nginx
  namespace: foo
  labels:
    clusternet-app: multi-cluster-nginx
spec:
  selector:
    matchLabels:
      app: nginx
  replicas: 2
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:1.14.2

[2022-08-10 09:51] Sword-zhj commented on #448
<img width="936" alt="image" src="https://user-images.githubusercontent.com/32220271/183872080-6b2f8e6f-a403-4469-a1b8-ae40e0394be4.png">
 kubectl get mcls -A      result

[2022-08-10 11:04] dixudx commented on #448
Resource: "/v1, Resource=namespaces", GroupVersionKind: "/v1, Kind=Namespace"
Name: "foo", Namespace: ""

It seems `kube-apiserver` cannot visit `clusternet-hub`.

You can take a test. `kubectl-clusternet get ns`. If error occurs, that means `clusternet-hub` is not accessible by `kube-apiserver`.

`clusternet-hub` exposes a cluster ip. Please make sure cluster ip works in your Kubernetes cluster.

[2022-08-10 13:25] Sword-zhj commented on #448
imagechild cluster use private network ip parent cluster use public network ip. the agent sever logs like above. and a secret that contains token for cluster registration be created by command :
PARENTURL=https://36.133.135.247:6443/ REGTOKEN=07401b.f395accd246ae52d envsubst < ./deploy/templates/clusternet_agent_secret.yaml | kubectl apply -f -
36.133.135.247 is parent cluster public network ip. h

[2022-08-10 13:28] Sword-zhj commented on #448
<img width="1478" alt="image" src="https://user-images.githubusercontent.com/32220271/183913219-5dce4419-2219-4331-abe6-21165bdf0090.png">
parent cluster use public network ip. the agent sever logs like above. and a secret that contains token for cluster registration be created by command :
PARENTURL=https://36.133.135.247:6443/ REGTOKEN=07401b.f395accd246ae52d envsubst < ./deploy/templates/cluste

[2022-08-11 02:10] dixudx commented on #448
Actually your kube-apiserver did not sign `36.133.135.247` into its key/cert pair. It is not a bug of Clusternet.

Plesse make sure the CA of `kube-apiserver` sign `36.133.135.247` into its public certificates.

[2022-08-11 02:18] dixudx commented on #448
You can follow [Generate Kubernetes Certificates Manually](https://kubernetes.io/docs/tasks/administer-cluster/certificates/).

If you're using `kubeadm` to setup the cluster, please use a config when running `kubeadm init --config=myconfig.yml`, like follows,

[code]

Other parts of the config are omitted. Please take a look at `apiServer.certSANs`, where your public master ip can be set.

[2022-08-11 02:30] Sword-zhj commented on #448
Thanks. Solved the problem according to your method

[2022-08-11 02:38] Sword-zhj commented on #448
<img width="648" alt="image" src="https://user-images.githubusercontent.com/32220271/184055523-d7409810-5d6b-4495-930b-99132e4319cc.png">
I have successfully executed this command：  ./kubectl-clusternet apply -f foo.yaml
bug in child clusters, I use the command:  kubectl get ns. can't find the ns created by parent cluster
how can i check resources running status in each child clusters.

[2022-08-11 02:48] dixudx commented on #448
Have the parent cluster registered itself as a child cluster?

Currently there are two ways to get the status.

1. For deployment/statefulset/job resources, you can visit `Subscription` status to get an aggregated status from each child clusters. Such as [Checking Aggregated Status](https://clusternet.io/docs/tutorials/multi-cluster-apps/aggregated-status/).

2. Also you can check them directly in

[2022-08-11 03:01] Sword-zhj commented on #448
In child cluster, can i use command: kubectl get deploy -n foo, to check deployment status that i have create in parent cluster?

[2022-08-11 03:40] dixudx commented on #448
Sure.

[2022-08-11 06:13] Sword-zhj commented on #448
ok thank you very much

[2022-08-11 06:15] Sword-zhj commented on #448
How to access child cluster services through parent cluster apiserver？

[2022-08-11 06:23] dixudx commented on #448
`kube-apiserver` does provider service proxy. Unless we can access child cluster from parent cluster, then we can access services running in child clusters.

Please refer to [access child cluster with curl](https://clusternet.io/docs/tutorials/cluster-management/visiting-child-clusters-with-rbac/visit-child-clusters-with-curl/). You can replace child cluster service url instead.

[2022-08-11 06:51] dixudx commented on #430
Docs for referring,

- <https://clusterpedia.io/zh-cn/docs/usage/interfacing-to-multi-cloud-platforms/>
- <https://clusterpedia.io/zh-cn/docs/concepts/cluster-import-policy/>

[2022-08-11 07:38] dixudx commented on #448
@Sword-zhj You can follow below official wechat account of Clusternet.

![image](https://user-images.githubusercontent.com/5449021/184085916-fcc48ad3-6ab0-428a-b175-ca11d19a1645.png)

[2022-08-11 07:40] dixudx commented on #445
We can also implement our own logic on CRDs in out-of-tree `FeedInventory` controller.

[2022-08-11 09:09] Sword-zhj commented on #448
Whether the network between child clusters can connect with each other？ for example：child cluster a connect to child cluster b

[2022-08-11 09:10] Sword-zhj commented on #448
ok

[2022-08-11 09:14] dixudx commented on #448
[Submariner](https://submariner.io/) could work as an add-on to help extend the cross-cluster networking.

[2022-08-11 12:12] silenceper commented on #445
Got it, thanks!

[2022-08-11 12:12] #445 closed

[2022-08-12 05:48] Sword-zhj commented on #448
thank you very much.

[2022-08-12 05:48] #448 closed

[2022-08-15 02:47] #386 closed

[2022-08-15 02:52] jasine commented on #264
Is `port-forward` already available? @dixudx

[2022-08-15 03:32] dixudx commented on #264
It is easy to implement `port-forward` to pods/services in child clusters, which is working in progress. Hopefully this will be released in `kubectl-clusternet` v0.7.0.

[2022-08-15 12:08] leoryu opened #454 "localizations doesn't work"
#### What happened:

for localizations:

[code]
the values is not deployed in target cluster at first time.

After I uninstalled through helm command in target cluster, clusternet recreated the helm release, the values will be deployed.

chart ref：https://artifacthub.io/packages/helm/ingress-nginx/ingress-nginx

#### What you expected to happen:

#### How to reproduce it (as minimally and precisel

[2022-08-16 02:34] dixudx commented on #454
cc @DanielXLee

[2022-08-19 06:36] snstaberah opened #457 "dry run support for managed cluster"
#### What happened:
when i do a kubectl dry run command to the k8s cluster managed by clusternet ，there goes an error: dry run is not supported;

I think  maybe this is a problem  caused by remote-dialer.clientDial.newConnect ? or rejected by aggregated apiserver ?  the response time is very short，such as 1ms/2ms，so it probably happened  in the clusternet-hub side；

Is there a plan to support dry-

[2022-08-19 09:06] Sword-zhj opened #458 "How can I cross cluster connections over clusternet?"
#### Which workflows are failing:

#### Since when has it been failing:

#### Github workflow run link:

#### Reason for failure:
<img width="973" alt="image" src="https://user-images.githubusercontent.com/32220271/185583964-5422a34b-98fd-404b-9745-a11247fd14f4.png">
<img width="1479" alt="image" src="https://user-images.githubusercontent.com/32220271/185585205-e0ec5f1e-e4de-4569-9c29-67ebb2b1c4c2

[2022-08-19 09:58] JackZxj opened #459 "fail to create subresources' shadows"
#### What happened:
clusternet-hub cannot not work caused by failing to create subresources' shadows

#### What you expected to happen:
subresources' shadows should be created after parent resources.

Or only init shadows of built-in resources, and then using another API to create new shadow manually when needed.

Or just skip subresources?

#### How to reproduce it (as minimally and precisely as

[2022-08-19 13:34] dixudx commented on #458
IIUC, you are asking how to access services running in child clusters. And these services are not exposed with any external load balancers or ingress routes.

@Sword-zhj You can construct a kubeconfig for your child cluster `clusternet-cluster-79256`. You can follow this guide [Visiting Child Clusters with Dedicated KubeConfig](https://clusternet.io/docs/tutorials/cluster-management/visiting-child

[2022-08-20 08:06] yeqiugt commented on #457
I had the same problem, and solved it with this https://github.com/yeqiugt/apiserver/commit/f256a01128ff7b68b84a829c25e4466bda1a3301, can i create a pr to fix it? @dixudx

[2022-08-20 08:48] dixudx commented on #457
Sure. Please go ahead. @yeqiugt

[2022-08-21 09:40] dixudx commented on #458
It seems if we have `kubectl clusternet port-forward`, this will be easier to visit services running in child clusters.

[2022-08-21 09:40] dixudx commented on #459
I will try `kubevirt.io` CRDs to see what happened.

[2022-08-22 03:25] #458 closed

[2022-08-22 03:28] dixudx commented on #458
Works with `kubectl clusternet` plugin v0.7.0.

Supposing we've got a nginx running in **child cluster**.

[code]

Now we can use `port-forward` to visit locally by url `http://127.0.0.1:8080/`.

[code]

[2022-08-22 06:26] dixudx commented on #458
docs will be updated in clusternet/website#37.

[2022-08-22 09:11] Charlottell commented on #459
I encountered the same problem, changed the parameter ShadowAPI=true to false, and the POD of hub was running normally. But I don't know what effect that will have on the future.

[2022-08-22 10:16] dixudx commented on #459
It is not suggested to disable feature gate `ShadowAPI`, if you want to create shadowed resources.

Feature gates do not affect pod running, but some features may not be available.

If you disable feature gate `ShadowAPI`, some shadowed resource APIs are not available. Such as, `kubectl clusternet get ns` won't work.

[2022-08-22 10:17] dixudx commented on #459
@JackZxj Did you disable the feature gate `ShadowAPI`?

[2022-08-22 10:28] JackZxj commented on #459
@dixudx I didn't change any default configuration.

[2022-08-23 09:05] Sword-zhj opened #461 "Can the kubectl clusternet command define a label for a cluster?"
#### What happened:

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:
<img width="725" alt="image" src="https://user-images.githubusercontent.com/32220271/186117390-ac669bff-e409-4637-b1cd-9daa534f46cb.png">
<img width="1473" alt="image" src="https://user-images.githubusercontent.com/32220271/186117488-187bc

[2022-08-23 09:07] Sword-zhj commented on #461
@dixudx

[2022-08-24 06:00] yeqiugt commented on #457
i create a pr https://github.com/clusternet/apiserver/pull/1 in clusternet/apiserver, and then, the go.mod in clusternet/clusternet also need to be edit

[2022-08-24 15:49] dixudx commented on #457
@yeqiugt Please help bump `go.mod` in clusternet/clusternet.

[2022-08-25 13:22] #457 closed

[2022-08-26 15:27] victory460 opened #464 "Ask for more detail document about deploy application to children-clusters"
![image](https://user-images.githubusercontent.com/30213558/186936128-89b27e82-4e5d-4088-a183-78b28476d90d.png)

This ideal is awesome and perfect.

Can you describe more detail about that the flow process from accept yaml to scheduling and deployment applications to children-clusters?

Such as, How to deploy `Describtion` to children-clusters?  How to distribute `Subscription` to `Base`?

Give me

[2022-08-27 06:15] dixudx commented on #464
@victory460 Thanks for your interest.

Here is a [Chinese document](https://mp.weixin.qq.com/s?__biz=Mzg5NjA1MjkxNw==&mid=2247517235&idx=1&sn=3b876ee31352c5633384186bb6afd5fb&chksm=c0043fe9f773b6ff3932f1b506c2888df60374ff6cad02a36b44599650cad4c1a4355e331c4a&scene=21#wechat_redirect) that briefly talk about the application deployments.

And also you can learn these concepts from <https://clusternet

[2022-08-27 06:16] dixudx commented on #464
@victory460 Also you can try to search Wechat official account `Clusternet`, where you can receive some new articles and chart with me.

[2022-08-29 03:15] dixudx commented on #459
@JackZxj I did not reproduce above issue.

I applied https://github.com/kubevirt/kubevirt/releases/download/v0.55.1/kubevirt-operator.yaml. And it works fine.

[code]

Can you provide steps how to reproduce this issue? Thanks.

[2022-08-29 03:53] JackZxj commented on #459
@dixudx My failure was caused by subresources of kubevirt according to the hub log, and I didn't see them in your api-versions.

I have to say that I am not familiar with kubevirt, but I will try something to reproduce this.

[2022-08-29 10:51] dixudx commented on #85
@clarkmcc Recently I did a perf test on `clusternet-hub`, as below.

![image](https://user-images.githubusercontent.com/5449021/187183155-f0259171-fc9e-45a8-95f8-159c6540dab6.png)

In the perf test, clusternet-hub and kube-apiserver are running with single instance. When managing 2k clusters, `clusternet-hub` takes about 250 MB memory, while `kube-apiserver` takes about 1GB, the watch latency on s

[2022-08-29 12:07] Sword-zhj commented on #461
How can I directly add labels to ManagedCluster？Can you give me an example？

[2022-08-29 13:25] victory460 commented on #464
Thanks!

[2022-08-29 13:25] #464 closed

[2022-08-30 01:27] dixudx commented on #461
[code]

`mcls` is an alias of `ManagedCluster` resource.

[2022-08-31 08:28] Sword-zhj commented on #461
thank you very much for your reply！

[2022-08-31 08:30] Sword-zhj commented on #461
I have another question，Base and Description whether this resource is created in the scheduler component or in the Hub component？

[2022-08-31 10:04] dixudx commented on #461
By clusternet-hub

[2022-08-31 10:07] Sword-zhj commented on #461
Scheduling is implemented in the scheduler module, why create Base and Description resources in the hub？

[2022-08-31 10:23] dixudx commented on #461
This has no conflicts. Scheduler only focuses finding matching clusters.

[2022-09-01 02:37] silenceper opened #468 "Unable to use patch operation after adding `apps.clusternet.io/skip-validating` for workload"
#### What happened:
[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):
    - Clusternet-hub version (user `clusternet-hub --version=json`):
- Kubernetes version (use `kubectl version`):
- C

[2022-09-01 03:23] dixudx commented on #468
The error is clear that you are patching on a deleted resource.

[2022-09-01 03:39] silenceper commented on #468
No, this resource is not deleted, as long as Annotation `apps.clusternet.io/skip-validating` is added, the patch action will report this error.

[2022-09-01 06:17] dixudx commented on #468
@silenceper I did not reproduce your issue.

[code]

[2022-09-01 06:41] silenceper commented on #468
The clusternet version I am using is v1.10 version:
[code]

[2022-09-01 10:11] #468 closed

[2022-09-02 09:59] JackZxj commented on #459
https://github.com/clusternet/clusternet/blob/e50d81f1e0a110419cf176c4fe9cc93b23a2907e/pkg/hub/apiserver/shadow/apiserver.go#L311
   |
   | finally called this, and this is why it failed to create subresources
   |
 V
![image](https://user-images.githubusercontent.com/26180598/188112881-314c9f74-0ebf-4384-b8ed-682a9d94b5a2.png)

Kubevirt have no resources named `virtualmachineinstances` and `virtu

[2022-09-06 02:45] DanielXLee opened #473 "Cannot create HelmRelease"
#### What happened:
Create an nginx-ingress HelmChart and create a subscription with empty clusterAffinity. when a cluster is registered, sometimes the HelmRelease cannot be created. The cause is "target cluster has disabled AppPusher".
[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environme

[2022-09-06 06:27] dixudx commented on #459
@JackZxj Yeah, that's a weird design.

Then some APIs, such as `subresource.kubevirt.io`, may be missing in `shadow` group. This is a known issue for such weird API subresources.

@JackZxj Could you please fix this by ignoring such errors in Clusternet?

[2022-09-06 08:14] DanielXLee opened #475 "child cluster cannot registry to hub cluster"
#### What happened:
Sometimes, registry a child cluster to hub cluster, ClusterRegistrationRequest CR created on hub, but not approved by hub.

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):

[2022-09-06 08:59] JackZxj commented on #459
Sure, I will try to fix it later. @dixudx

[2022-09-06 09:51] DanielXLee opened #476 "reinstall helm release when deploy failed"
#### What would you like to be added:
1. delete the install failed helm release
2. try to re-install it

#### Why is this needed:

[2022-09-07 05:44] jasine commented on #275
@dixudx  can we modify the plugin to use `child-cluster-deployer` and no longer need to provide a `kubeconfig` file?

[2022-09-07 06:45] dixudx commented on #275
If so, RBAC rules in child clusters should be taken into consideration. Using `admin` to visit child clusters is not suggested.

Below questions should be resolved before moving forward,

1. If we aggregates all the RBAC rules all to parent clusters, that will bring into much trouble for parent clusters when the number of child clusters turn to 100, 1k, 10k. And for every new/updated rule in child

[2022-09-07 07:32] dixudx opened #478 "soft threshold when aggregating labels for child clusters"
#### What would you like to be added:
kind/feature

#### Why is this needed:

[2022-09-07 07:32] dixudx commented on #478
cc @lmxia

[2022-09-07 07:32] dixudx commented on #428
NFD installation doc: https://kubernetes-sigs.github.io/node-feature-discovery/v0.11/get-started/quick-start.html

[2022-09-07 08:09] jasine commented on #275
thanks, it seems a long way,  I wrote a script as a workaround

[2022-09-07 11:03] victory460 opened #479 "What the predictor want to do ?"
K8S scheduler plugin consist of `Filter、Score、Reserve、PreBind、Bind.`
What the `predictor` want to do ?

<img width="494" alt="image" src="https://user-images.githubusercontent.com/30213558/188861728-08caec47-d66e-4551-8e48-b9d6989666f1.png">

[code]

What exactly the replicas of ?   feed 、cluster or others ?

[2022-09-08 01:15] victory460 commented on #479
Thanks.

[2022-09-08 01:56] victory460 commented on #479
<img width="404" alt="image" src="https://user-images.githubusercontent.com/30213558/189015742-b94b7b84-654a-44e6-b154-0a39d0d29a35.png">

`schedulingStrategy` was processed in `Assign` plugin, which plugin do label select  function such as `clusterAffinity.matchLabel` ？

[code]

[2022-09-08 01:58] victory460 commented on #461
Can i use `cluster go-client `do label for mcls？

[2022-09-08 02:14] dixudx commented on #461
Sure.

[2022-09-08 02:21] dixudx commented on #479
No special plugin for this. L242 will find all matching clusters by labels. And plugin `taint-toleration` will be applied afterwards.

https://github.com/clusternet/clusternet/blob/f5410a76ee97e92abec60d03681513213f209ca4/pkg/scheduler/algorithm/generic.go#L233-L255

[2022-09-08 03:26] #479 closed

[2022-09-09 09:23] #473 closed

[2022-09-13 02:24] #402 closed

[2022-09-15 02:51] #428 closed

[2022-09-15 10:30] #476 closed

[2022-09-16 16:22] jasine opened #483 "too many helm release secrets created on child cluster"
#### What happened:

too many helm release secrets created on child cluster

![image](https://user-images.githubusercontent.com/1934966/190684924-5fd8820b-14e3-49a8-ae81-bd22365a03dd.png)

#### What you expected to happen:

keep limited count of helm release secrets

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`): 0.8
    - Clusterne

[2022-09-19 04:44] silenceper opened #484 "agent supports configurable work count"
https://github.com/clusternet/clusternet/blob/e15829aa3359848d8a9d118eba6c3ab19dbeda67/pkg/agent/agent.go#L58

[2022-09-19 06:30] dixudx commented on #484
Currently there isn't much work to do in `clusternet-agent`. We're keeping it light-weighted.

While I am fine if we're adding multiples workers inside of `clusternet-agent`.

[2022-09-19 06:55] dixudx commented on #483
The maximum number of historical releases is limited to `5` since `v0.4.0`.

https://github.com/clusternet/clusternet/blob/ae735577f4d637baa6482c0eb220f14a4cd59029/pkg/utils/deployer.go#L127-L133

But the `MaxHistory` here  is not inherited by Helm `Upgrade` action. That's why there are so many release history in child clusters.

Nice catch @jasine . Got fixed in #485.

[2022-09-19 11:16] yinsenyan opened #486 "Dynamic dividing scheduling panic"
#### What happened:
clusternet-scheduler panic
If apply a subs with dynamic dividing scheduling just like
[code]

clusternet-scheduler will panic at [here](https://github.com/clusternet/clusternet/blob/main/pkg/scheduler/framework/interfaces/types.go#L140)  with frist scheduling job

#### What you expected to happen:
Don't panic, and scheduling success.
#### How to reproduce it (as minimally and p

[2022-09-20 01:48] dixudx commented on #486
cc @Garrybest

[2022-09-20 06:26] #486 closed

[2022-09-20 06:29] dixudx commented on #459
@JackZxj Do you have time to fix this issue. Thanks.

[2022-09-23 02:24] yeqiugt opened #488 "Does clusternet support impersonate method ?"
#### Why is this needed:
I use clusternet to manage muti-cluster, but when I use impersonate method to access child-cluster, I get an error; by reading the source code of clusternet, I think clusternet does not support impersonate method.
#### What would you like to be added:
If this is true, are there plans to support impersonate methods? i mean : `Impersonate-User`, `Impersonate-Group` , and `Im

[2022-09-23 02:57] dixudx commented on #488
Please try `clusternet-MY-EXTRA-HEADER`. In your case, you can specify `clusternet-Impersonate-User`.

[2022-09-23 03:58] yeqiugt commented on #488
I add this header but it seems [impersonation ](impersonation ) doesn't work.

[2022-09-23 06:13] dixudx commented on #488
@yeqiugt Would you please share your steps, commands, or error messages?

[2022-09-23 06:57] yeqiugt commented on #488
1. Edit kubeconfig to add headers and user information
![image](https://user-images.githubusercontent.com/37202250/191904868-d32ce60c-cb99-4d93-9564-093072137d33.png)

2. Use this kubeconfig to access child-cluster, note that the header has been set correctly, and child-cluster returns the result
![image](https://user-images.githubusercontent.com/37202250/191905074-c1260708-cccd-4e6e-8d95-6120f2e7

[2022-09-23 09:14] dixudx commented on #488
@yeqiugt I see. Actually the header `clusternet-Impersonate-User` is passed directly to child cluster. But the desired behavior is passing `Impersonate-User`.

[2022-09-26 03:40] #488 closed

[2022-09-27 02:08] #85 closed

[2022-09-27 08:06] #459 closed

[2022-09-27 08:30] DanielXLee opened #493 "clusternet-hub took too much memory for lots of failed HelmReleases"
#### What happened:
hub pod started 86m, used memory 8943Mi

[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):
Use local-running.sh script to create a local kind cluster, create some HelmChart resources, and deployed to 3 child clusters, wait some minutes, and the memory will continue to grow

pprof message:
![image](https://user-images.g

[2022-09-27 08:33] dixudx commented on #493
What's the version of `clusternet-hub`?

[2022-09-27 08:56] DanielXLee commented on #493
Base v0.11.0, cherry-pick 4 commit
[code]

[2022-09-27 09:55] dixudx commented on #493
[code]

Did not notice any abnormal memory usage when using latest code from main branch.

[2022-09-27 12:06] DanielXLee commented on #493
Base v0.11.0, cherry-pick commit 656f96e, create 40 hr, failed 30 hr, the memory used about 840Mi
[code]

Hrs
[code]

[2022-09-28 01:18] librant opened #494 "Parent cluster high availability problem"
For the parent cluster, is it supported to upgrade the child cluster to the parent cluster? If there is a problem with the api-server of the parent cluster, will it affect the normal function of the child cluster?

[2022-09-28 01:31] dixudx commented on #494
A parent cluster can be a child cluster of itself as well. That means we can register the parent cluster to itself as a child cluster.

Theoretically, we can promote a child cluster to be a separate parent cluster.

No. All the resources are already deployed to each child cluster, thus the child cluster itself will help maintain the desired statuses of those resources.

[2022-09-28 01:33] dixudx commented on #493
That looks reasonable.

Now above two commits are quite suspicious for the memory issue.

[2022-09-28 02:35] DanielXLee commented on #493
Base v0.11.0, cherry-pick commit 656f96e，217814a，cbfc2ea，462c67a, create 40 hr, failed 30 hr, wait about 13h, the memory used about 14G
[code]
hrs:
[code]

[2022-09-28 02:39] dixudx commented on #493
Two commits cbfc2ea and 462c67a are quite suspicious for the memory issue. Some extra options were introduced in these two commits, including `wait`, `timeOut` and `xxxHooks`. These settings did have some apparent affects on the memory usage.

[2022-09-28 10:09] DanielXLee commented on #493
The root cause is the helm SDK memory leak, fixed in 3.8.1, we can upgrade helm to the latest version
https://github.com/helm/helm/pull/10486

[2022-09-29 07:48] #493 closed

[2022-10-09 13:20] jasine opened #500 "k3s v1.24.6+k3s1 child cluster working abnormally"
#### What happened:

when I upgrade  k3s version from v1.23.8+k3s2 to v1.24.6+k3s1，helm release  failed syncing to child cluster

logs on clusternet-agent

[code]

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`): v0.12.0
    - Clusternet-hub version (user `clusternet-hub --version=json`): v0.12.0

[2022-10-09 13:26] dixudx commented on #500
E1009 13:05:31.818574       1 wait.go:188] no secrets found in ServiceAccount clusternet-system/clusternet-app-deployer
E1009 13:05:38.021635       1 wait.go:188] no secrets found in ServiceAccount clusternet-system/clusternet-app-deployer

@jasine Please check in your child cluster to see whether this serviceaccount exists. This is part of the deployment of `clusternet-agent`.

[code]

[2022-10-09 13:31] jasine commented on #500
both clusternet-agent and  clusternet-app-deployer exist

[2022-10-09 13:36] dixudx commented on #500
Could you please share the upgrading steps?

[2022-10-09 14:19] jasine commented on #500
Sorry, I misexpressed, I just upgrade to latest stable k3s version installing on new child cluster

[2022-10-10 11:34] dixudx commented on #500
@jasine So this problem only happens on `v1.24.6+k3s1`, right?

[2022-10-11 03:35] dixudx commented on #500
@jasine What's the version of Kubernetes where `clusternet-hub` is running?

[2022-10-11 06:51] jasine commented on #500
@dixudx v1.22.7+k3s1 , so the parent cluster must upgrade to v1.24.6+k3s1 either?

[2022-10-11 08:21] dixudx commented on #500
Not really. I just want to narrow down the scope and find the root cause.

Now it seems to be related to the version of kube v1.24. Otherwise, new k3s server should work normally.

[2022-10-12 02:26] dixudx opened #504 "endpointslices rbac rules are not bound"
#### What happened:
kind/bug
#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):
    - Clusternet-hub version (user `clusternet-hub --version=json`):
- Kubernetes version (use `kubectl version`):
-

[2022-10-12 03:28] DanielXLee commented on #454
cannot reproduce it new clusternet version

[2022-10-12 03:28] #454 closed

[2022-10-12 03:48] DanielXLee opened #505 "cannot delete the subscription after delete the dedicated namespace"
#### What happened:

1. delete the dedicated namespace from hub cluster,  but the base does not delete from the ns
2. try to delete the subscription, found the sub delete is blocked because waiting for base to get deleted

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet versi

[2022-10-12 08:03] #504 closed

[2022-10-17 15:02] Airren opened #508 "the example/scheduling-with-mcs-api doesn't work with kind"
I created 4 clusters through the script in `hank/local-running.sh`, with different POD CIDR.

cluster images version: v0.12.0

[code]
After ` kubectl clutsetnet apply -f examples/scheduling-with-mcs-api/scheduling` and `kubectl apply -f  service-import.yaml`.  As is shown in the picture,  a service created and there are the related `endpointslices`.

![image](https://user-images.githubusercontent.

[2022-10-17 15:04] dixudx commented on #508
@lmxia Please help verify the issue. Thanks.

[2022-10-18 08:59] #500 closed

[2022-10-19 03:12] dixudx commented on #461
Close this. Please reopen it when needed.

[2022-10-20 04:41] victory460 opened #509 "clusternet schduler support SchdulerExtender to extend?"
**clusternet schduler** support `SchdulerExtender` to extend?

[2022-10-20 06:29] dixudx commented on #509
No. And I don't suggest using extender to extend scheduler.

Clusternet scheduler is using scheduling framework, which uses plugins to implement different scheduling phases. And it is easy to hook your out-of-tree plugins.

[2022-10-20 06:56] dixudx commented on #509
No. For scheduling framework, you need to rebuild scheduler and update it.

Scheduler extender is also not suggested by Kubernetes community.

[2022-10-20 07:05] victory460 commented on #509
OK. Thanks a lot.

[2022-10-20 07:08] #509 closed

[2022-10-26 08:59] lmxia commented on #508
1. > Should I add routes on the Parent-Cluster host to the ChildClusters Pod CIDR? Such as ip route add 10.244.1.0/24 via 192.169.0.4 dev eth0 .

Yes, mcs works on the premise that pods in child clusters can be reachable.

2.  > How to make the service work? Should it need to create a corresponding endpoint for this service

No, no need to create endpoints.

[2022-10-26 09:09] Airren commented on #508
Thanks for your answer.

[2022-10-26 09:09] #508 closed

[2022-11-01 06:58] dixudx opened #515 "informer waits for nonexistent v1.EndpointSlice in k8s v1.18"
#### What happened:
kind/bug

`clusternet-hub` v0.12.0 is not working as expected for k8s v1.18.

In Clusternet v0.12.0, `mcs-api` was introduced and used `discovery/v1 EndpointSlice`, which was not existed for k8s with lower version than v1.20.x.

[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

##

[2022-11-01 06:59] dixudx commented on #515
cc @metang326 @lmxia

[2022-11-01 07:16] lmxia opened #516 "Aggregate with Submariner for multi cluster service discovery"
#### What would you like to be added:
Aggregate submariner with clusternet.

#### Why is this needed:
Submariner is a tool to connnect overlay networks of different Kubernetes clusters, which can make clusternet better used especially on service discovery.

[2022-11-01 10:11] #281 closed

[2022-11-01 11:20] Charlottell opened #517 "clusternet-hub logs always report the error "apiserver received an error that is not an metav1.Status: context.deadlineExceededError{}: context deadline exceeded""
#### What happened:
clusternet-hub always report the flowing error:
[code]

and i check the shadow:
[code]

i can synchronize resources to subsets successfully.

But persistent access to apiserver error, i don't know this will affect cluster performance. Please giver me some advice to avoid the error. Thank you in advance.

#### What you expected to happen:

#### How to reproduce it (as minimally

[2022-11-01 12:18] dixudx commented on #517
@Charlottell Yeah, I did notice such errors as well. But they does not affect the using of Clusternet right now.

For performance issue, there may be a risk.

Would you please help investigate this issue. I guess we might forget register some schemes for encoding and decoding. You can check the shadow rest handler to figure it out.

[2022-11-02 06:40] Charlottell commented on #517
i will try. @dixudx

[2022-11-03 11:17] #515 closed

[2022-11-03 11:21] dixudx opened #519 "not starting serviceImport for Kubernetes lower than v1.18"
#### What would you like to be added:
A follow-up issue of #515

#### Why is this needed:

[2022-11-03 11:27] dixudx commented on #519
cc @lmxia

[2022-11-04 03:12] mars1024 commented on #519
/assign

[2022-11-04 04:05] mars1024 commented on #519
It seems that not only `ServiceImportController` but also `ServiceExportController` have the same problem, right? @dixudx

[2022-11-04 06:11] dixudx commented on #519
@mars1024 Yes, that's true.

[2022-11-07 03:04] mars1024 commented on #519
hold for pre PR #523

[2022-11-07 03:25] #478 closed

[2022-11-08 02:31] dixudx opened #526 "unbalanced algorithm for dynamicDivideReplicas"
#### What happened:
kind/bug

#### What you expected to happen:

By adding a testcase in `pkg/scheduler/framework/plugins/defaultassigner/algorithm_test.go` to test the algorithm on dividing replicas.

[code]

[code]

When `desiredReplicas` is much smaller, the algorithm gets unbalanced.

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

####

[2022-11-08 02:31] dixudx commented on #526
cc @Garrybest @Sad-polar-bear

[2022-11-08 02:46] dixudx opened #527 "the status of description got missing sometimes"
#### What happened:
kind/bug

Both status aggregation and description controller will update the status of `Description`. Sometimes `description.status.phase` is set to empty.

#### What you expected to happen:

`UpdateDescriptionStatus` should differentiate when `description.status.phase` should be updated.

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we

[2022-11-08 02:46] dixudx commented on #527
cc @Sad-polar-bear

[2022-11-08 02:49] dixudx opened #528 "abnormal manifests deletion when agent runs in parent cluster"
#### What happened:
kind/bug

When `clusternet-agent` runs in parent cluster, if we delete a `Subscription`, then corresponding manifest feeds are deleted as well.

This only happens when `clusternet-agent` runs in parent cluster.

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Cluster

[2022-11-08 06:21] DanielXLee opened #530 "bindingClusters not update after delete the dedicated namespace"
#### What happened:
Delete the dedicated namespace from hub cluster, but the sub.status.bindingCluster not update.

[code]

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):
    - Clusternet-hub v

[2022-11-08 07:02] Sad-polar-bear opened #531 "clusternet-hub failed to get leader elected in k8s 1.25"
#### What happened:
kind/bug

Testing with all commit id and in some commit clusternet-hub can not leaderelection successful.

![image](https://user-images.githubusercontent.com/28644213/200496203-ec3160b0-f5db-496a-bb55-f52ccb00ae81.png)

#### What you expected to happen:

![image](https://user-images.githubusercontent.com/28644213/200496295-ca263978-45a6-4297-8848-1f6c8d4f31dd.png)

#### How to

[2022-11-08 07:44] dixudx commented on #531
Starting from v1.25, Kubernetes stops serving `EndpointSlice` with `v1beta1`.

In #518, `discovery/v1` is replaced by `discovery/v1beta1` to be compatible with k8s v1.18.

cc @metang326 @mars1024

[2022-11-08 10:30] #531 closed

[2022-11-08 14:28] #527 closed

[2022-11-09 02:37] #526 closed

[2022-11-10 04:17] DanielXLee opened #538 "cannot delete the generic description after delete the dedicated namespace"
#### What happened:
delete the dedicated namespace from the hub cluster, but the generic description cannot be deleted

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):
    - Clusternet-hub versi

[2022-11-10 06:34] #530 closed

[2022-11-10 06:34] #538 closed

[2022-11-10 08:35] mars1024 commented on #430
/assign

[2022-11-11 11:55] silenceper opened #541 "description cannot be deleted when syncMode is `Pull` and `Recovery` feature is enabled"
#### What happened:
description cannot be deleted when syncMode is `Pull` and `Recovery` feature is enabled.

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clusternet-agent --version=json`):
    - Clusternet-hub version (user `

[2022-11-11 11:58] dixudx commented on #541
cc @lmxia

[2022-11-11 12:01] silenceper commented on #528
What is the reason for this?

[2022-11-11 12:06] silenceper opened #543 "aggregatestatus support custom workload？"
I see that extensibility is not supported here:
https://github.com/clusternet/clusternet/blob/5f50c6e93ae338939dbadd51c476332e3ece0224/pkg/controllers/apps/aggregatestatus/aggregatestatus.go#L479-L491

[2022-11-11 13:11] dixudx commented on #543
@silenceper Right. Currently only these three kinds of objects are supported.

We're still finding best ways to incorporate custom resources. We'd like constructive proposals.

[2022-11-11 13:15] dixudx commented on #528
We're still investigating this. It is a weird bug. Feel free to work on this if you've got any clues.

[2022-11-14 07:43] #541 closed

[2022-11-15 03:25] dixudx opened #545 "add test cases for subgroup scheduling"
#### What would you like to be added:
kind/enhancement

#### Why is this needed:
Test the algorithm for subgroup scheduling feature

[2022-11-15 03:25] dixudx commented on #545
cc @Sad-polar-bear

[2022-11-15 03:32] hangz1995 commented on #475
I got the same issue:  registry a child cluster to hub cluster, ClusterRegistrationRequest CR created on hub, but not approved by hub.

[2022-11-15 03:46] dixudx commented on #475
It can support multiple Kubernetes versions. Clusternet v0.12.0 supports running Kubernetes with versions ranging from v1.18 to v1.23. While Clusternet v0.13.0 can support Kubernetes versions up to latest v1.25. You can [find the version skew support from Clusternet website](https://clusternet.io/docs/introduction/#kubernetes-version-skew).

But if my hub ckister is Kubernetes 1.20 or 1.18, then t

[2022-11-15 04:22] hangz1995 commented on #475
Thank you for you resp.

`helm ls -A
WARNING: Kubernetes configuration file is group-readable. This is insecure. Location: /root/.kube/config
WARNING: Kubernetes configuration file is world-readable. This is insecure. Location: /root/.kube/config
NAME                	NAMESPACE        	REVISION	UPDATED                                	STATUS  	CHART                          APP VERSION
clusternet-hu

[2022-11-15 05:04] dixudx commented on #475
W1115 04:16:08.580694       1 reflector.go:324] pkg/mod/k8s.io/client-go@v0.23.5/tools/cache/reflector.go:167: failed to list *v1.EndpointSlice: the server could not find the requested resource

This is the root cause.

But if my hub ckister is Kubernetes 1.20 or 1.18, then the child cluster cannot registry to the hub cluster correctly.

`v1.EndpointSlice` is only enabled from Kubernetes v1.21. Th

[2022-11-15 05:56] hangz1995 commented on #475
Thank you! I installed the clusternet hub and agent by using helm, I fould the lastest version is v0.12.0.
To  upgrade Clusternet to v0.13.0,  I will replace the image from v0.12.0 to v0.13.0 for both clusternet hub controller Pod and cluster agent Pod, is it ok?

[2022-11-15 09:28] dixudx commented on #475
@hangz1995 Yes, you could.

You just remind me to release Helm charts with new version. Thanks.

[2022-11-15 10:52] dixudx commented on #475
@hangz1995 New Helm charts have been released. Please run `helm repo update` and upgrade Clusternet charts.

[2022-11-16 01:52] dixudx commented on #475
@DanielXLee What is the exact problem of this issue? Any steps to reproduce this? Or please try with new version to see whether this problem still persists.

[2022-11-25 02:56] #545 closed

[2022-11-25 06:54] hangz1995 opened #547 "questions: servie mesh in clusternet"
Is there any plan to support servie mesh (such as Istio) in clusternet HUB?

[2022-11-25 07:36] dixudx commented on #547
@hangz1995 Yes, it is on our plan. Hopefully that will be available in the coming two releases.

Any interests to help integrate this feature?

[2022-11-28 02:50] hangz1995 commented on #547
I will try to do some research, thank you~

[2022-11-28 09:57] DanielXLee opened #548 "muitilcluster crd don't installed for the upgrade case"
#### What happened:
Install the clusternet-hub with chart version 0.9.0
upgrade the clusternet-hub with chart version 0.10.0

the multilcluster-related crds not be installed.

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Clusternet version:
    - Clusternet-agent version (user `clust

[2022-11-30 05:30] zhenkuang opened #549 "we can not get the correct status of the old subscription object"
#### What happened:
when we use subscription controller to watch some subscripiton object,  we found,  the status of the old object is the same as the status of the new object.

#### What you expected to happen:
we hope, get the old status of the old object from indexer.
And we found the question code is this line https://github.com/clusternet/clusternet/blob/main/pkg/controllers/apps/aggregatesta